<div class="alert alert-danger text-center" role="alert"
  style="position:fixed;width:80%;margin:0 10%;"
  ng-if="loggingOut"
>Logging out&hellip;</div>
<div class="alert alert-success text-center" role="alert"
  style="position:fixed;width:80%;margin:0 10%;"
  ng-if="loggedOut"
>Logged out. Redirecting to login page.</div>
