<h1 class="page-header">Report Management:

<small
  ng-if="list.loaded"
  ng-pluralize count="list.reports.length"
  when="{'0':'No reports found', '1':'Showing one report', 'other': 'Showing {{list.reports.length}} reports'}"
>Reports :</small>
<small ng-if="!list.loaded">Loading...</small></h1>

<div class="list-group">
  <a class="list-group-item"
    ng-href="/system/reports/{{report._id}}"
    ng-repeat="report in list.reports"
    ng-class="{'bg-success':report.is.resolved}"
  >
    <p class="list-group-item-heading">
      Filed {{report.created_at | date:"yyyy-MM-dd 'at' HH:mm"}} by {{report.business.profile.display}}

      <span class="label label-danger pull-right"
        ng-if="!report.is"
      >Unknown</span>

      <span class="pull-right" ng-if="report.is">

        <span class="label label-success"
          ng-if="report.is.resolved"
        >Resolved</span>

        <span class="label label-warning"
          ng-if="report.is.readonly"
        >Readonly</span>

        <span class="label label-success"
          ng-if="report.is.approved"
        >Approved</span>

        <span class="label label-info"
          ng-if="!report.is.approved"
        >Pending Approval</span>

      </span>
    </p>

    <div class="row">
      <div class="col-sm-6">
        <p class="list-group-item-text">
          <span ng-if="report.incidents.length != 1">Incidents:</span>
          <span ng-if="report.incidents.length == 1">Incident:</span>
          <ul>
            <li
              ng-repeat="incident in report.incidents"
            >
              {{incident.type | label:list.incidents:'title'}}
              <span class="text-muted"
                ng-if="incident.damage"
              >(R{{incident.damage | number:2}} damage)</span>
            </li>
          </ul>
        </p>
      </div>
      <div class="col-sm-6">
        <p class="list-group-item-text"
          ng-show="report.people.length"
          ng-pluralize count="report.people.length"
          when="{
            '1': '1 person reported'
          , 'other': '{{report.people.length}} people reported'
          }"
        >
        </p>
        <p class="list-group-item-text"
          ng-show="report.orgs.length"
          ng-pluralize count="report.orgs.length"
          when="{
            '1': '1 organization reported'
          , 'other': '{{report.orgs.length}} organizations reported'
          }"
        >
        </p>
      </div>
    </div>

  </a>
</div>

<!-- <pre>{{list.reports | json}}</pre> -->
