<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>GuestSure | Login</title>
  <link rel="stylesheet" href="/main.min.css">
  <style>
    html, body {
      background: #1D5193;
    }
    body {
      margin-bottom:17em;
    }
    .landing-brand {
      margin-top:3%;
    }
    #landing-logo {
      width: 350px;
      max-width: 100%;
      height: auto;
    }
    .btn-login {
      background: #1BB726;
      color:#fff;
    }
    .landing-panel {
      width: 90%;
      max-width: 500px;
      margin-left: auto;
      margin-right: auto;
    }
  </style>
</head>
<body ng-app="gsLoginApp">
  <div class="container">
    <div class="row">
      <div class="clearfix landing-brand">
        <img src="/guestsure-base-logo-web.png" alt="GuestSure" width="350" id="landing-logo" height="100">
      </div>
      <p class="lead" style="text-align:center;color:white">Welcome to GuestSure&#8203;.co.za!</p>
      <div class="center-form panel panel-primary white-form landing-panel"
        ng-controller="LoginController as vm"
      >
          <div class="panel-body">
            <form name="loginForm">

              <div class="form-group">
                <label for="email">Email</label>
                <input class="form-control input-lg" type="email" name="email" id="email"
                  autofocus required
                  placeholder="Your Email"
                  ng-model="vm.email"
                  ng-disabled="resetting"
                  pre-init-input
                >
              </div>

              <div class="form-group" ng-hide="forgot">
                <label for="password">Password</label>
                <input class="form-control input-lg" type="password" name="password" id="password"
                  placeholder="Your Password"
                  ng-model="vm.password"
                  pre-init-input
                >
              </div>

              <div ng-include="'login.tpl.html'">
                <div class="progress">
                  <div class="progress-bar progress-bar-success progress-bar-striped active" style="width:100%">
                    Loading Angular&hellip;
                  </div>
                </div>
              </div>

            </form>
          </div>



      </div>
    </div>
  </div>

<script type="text/ng-template" id="login.tpl.html">
  <div class="form-group" ng-hide="forgot">
    <button type="submit" class="btn btn-lg btn-block btn-gs-success"
      ng-class="{'active': vm.waiting}"
      ng-click="vm.submitLogin()"
      ng-disabled="vm.waiting || loginForm.$invalid || vm.loggedIn"
    >Sign In</button>
  </div>
  <div class="form-group" ng-show="forgot">
    <button type="button" class="btn btn-lg btn-block btn-primary"
      ng-disabled="vm.waiting || !vm.email.length || vm.done"
      ng-click="vm.submitReset()"
    >Send password reset email</button>
  </div>
  <div class="progress" ng-if="vm.waiting">
    <div class="progress-bar progress-bar-success progress-bar-striped active" style="width:100%">
      Authenticating&hellip;
    </div>
  </div>
  <div class="alert alert-danger"
    ng-hide="vm.errormsg.length == 0"
  >{{vm.errormsg}}</div>
  <a href="/signup/" ng-hide="forgot">Sign up</a>
  <a href="" class="pull-right"
    ng-click="forgot=true"
    ng-hide="forgot"
  >Lost password?</a>
  <a href="" class="pull-right"
    ng-click="forgot=false"
    ng-show="forgot && !vm.done"
  >Cancel</a>
  <div class="alert alert-success"
    ng-if="vm.loggedIn"
  >Logged in. Redirecting to app.</div>
  <div class="alert alert-success" role="alert"
    ng-show="vm.done"
  >Password reset instructions are being sent to you. If you do not receive an email, please check your spam folder. If you continue to have difficulties accessing your account, please contact technical support.</div>
</script>
<script src="/angular.min.js"></script>
<script src="/login.min.js"></script>
</body>
</html>
