<div class="navbar navbar-inverse navbar-static-top"
  ng-controller="NavbarController as vm"
  bs-navbar
  role="navigation"
>
  <div class="container" ng-cloak>
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        <img src="/guestsure-base-logo-web.png" alt="GuestSure" width="105" height="30" style="margin-top:-6px;">
      </a>
    </div>

    <ul class="nav navbar-nav hidden-xs">
      <li
        ng-if="currentUser.can.doQuery"
      >
        <a href="/">Verify Booking</a>
      </li>
      <li data-match-route="/reports/new"
        ng-if="currentUser.can.createReport"
      >
        <a href="/reports/new">Report a guest</a>
      </li>
      <!-- <li data-match-route="/business"
        ng-if="currentBusiness && currentUser.can.edit_own_establishment"
      >
        <a ng-href="/business/{{currentBusiness._id}}"
        >{{currentBusiness.profile.display}}</a>
      </li> -->
    </ul>
    <ul class="nav navbar-nav visible-xs"
      ng-if="currentBusiness || currentUser.can.doQuery || currentUser.can.createReport"
    >
      <li class="dropdown">
        <a href="#" class="nav navbar-nav"
          bs-dropdown="vm.businessmenu"
        >Menu<span class="caret"></span></a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right"
      ng-if="currentUser.id"
    >
      <li ng-if="currentUser.can.accessSystem">
        <a href="/system/" target="_self">Admin</a>
      </li>
      <li class="dropdown" data-match-route="/account/me">
        <a href="#" class="dropdown-toggle"
          bs-dropdown="vm.usermenu" data-placement="bottom-right"
        >{{currentUser.profile.display}}
          <span class="glyphicon glyphicon-user"></span>
          <span class="caret"></span>
        </a>
      </li>
    </ul>
  </div>
</div>
