<div class="navbar navbar-inverse navbar-static-top"
  ng-controller="SystemNavbarController as vm"
  role="navigation" bs-navbar
>
  <div class="container" ng-cloak>

    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        <img src="/guestsure-base-logo-web.png" alt="GuestSure" width="105" height="30" style="margin-top:-6px;">
      </a>
    </div>

    <p class="navbar-text"> System |
      <a class="navbar-link" href="/" target="_self">Back to App</a>
    </p>

    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a href="#" bs-dropdown="vm.systemMenu">
          Logs <span class="caret"></span>
        </a>
      </li>
      <li data-match-route="/system/reports">
        <a href="/system/reports">Reports</a>
      </li>
      <li data-match-route="/system/users" class="dropdown">
        <a href="#" bs-dropdown="vm.usersMenu">
          Users <span class="caret"></span>
        </a>
      </li>
      <li data-match-route="/system/establishments" class="dropdown">
        <a href="#" bs-dropdown="vm.establishmentMenu">
          Establishments <span class="caret"></span>
        </a>
      </li>
    </ul>
  </div>
</div>
