<div class="alert alert-warning"
  ng-if="vm.user.auth.pwPendingChange"
>
  Please set a password for your account!
</div>
<collapse-section
  heading="'Profile'"
  subhead="'Change your display name here'"
>
  <edit-single-user-profile
    profile="vm.user.profile"
    user-id="vm.user._id"
  ></edit-single-user-profile>
</collapse-section>

<collapse-section
  heading="'Personal Details'"
  subhead="'Update your full name.'"
>
  <edit-single-user-details
    details="vm.user.details"
    user-id="vm.user._id"
  ></edit-single-user-details>
</collapse-section>

<collapse-section
  heading="'Login Credentails'"
  subhead="'Change your password here'"
>
  <!-- CREDENTIALS EDITOR -->
  <div class="form-group">
    <label>Old Password (Optional)</label>
    <input class="form-control" type="password"
      ng-model="vm.oldPassword"
    >
  </div>
  <div class="form-group">
    <label>New Password</label>
    <input class="form-control" type="password"
      ng-model="vm.newPassword"
    >
  </div>
  <button class="btn btn-success" type="button"
    ng-click="vm.updatePassword()"
    ng-disabled="!vm.newPassword || vm.newPassword.length < 8"
  >Save setting</button>
  <span class="text-danger" ng-if="vm.updatePWMsg.length">
    <button type="button" class="close" aria-label="Close"
      ng-click="vm.updatePWMsg = undefined"
    ><span aria-hidden="true">&times;</span></button>
    Error: {{vm.updatePWMsg}}
  </span>
  <span class="text-success" ng-if="vm.updatedPW">
    <button type="button" class="close" aria-label="Close"
      ng-click="vm.updatedPW = false"
    ><span aria-hidden="true">&times;</span></button>
    Password Updated | <a href="/">Go to home page</a>
  </span>
  <div class="form-group">
    <label>Login Email</label>
    <p>{{vm.user.auth.email}}</p>
  </div>
</collapse-section>
