<div class="inverse-header" style="margin-bottom:1em">
  <div class="row">
    <div class="col-sm-6">
      <h1>
        <span>{{vm.user.profile.display}}</span>
        <span
          ng-if="!vm.user.profile.display.length"
        >{{vm.user.details.fullname}}</span>
      </h1>
    </div>
    <div class="col-sm-6">
      <p class="text-right lead"
        ng-if="vm.membership"
      >Member of {{vm.membership.profile.display}}<!-- <a ng-href="/business/{{vm.membership._id}}"></a> --></p>
    </div>
  </div>
</div>

<!-- TABS -->
<!-- <ul class="inverse-nav nav nav-tabs">
  <li ng-class="{'active':vm.activeTab=='account'}">
    <a href="#" ng-click="vm.activeTab= 'account'">Account</a>
  </li>
  <li ng-class="{'active':vm.activeTab=='welcome'}">
    <a href="#" ng-click="vm.activeTab= 'welcome'">Welcome</a>
  </li>
</ul>-->
