<h1 class="page-header">
  Users
  <small class="pull-right"
    ng-pluralize
    count="vm.users.length"
    when="{'0':'None found', '1':'Showing one', 'other': 'Showing {{vm.users.length}}'}"
  >Users:</small>
</h1>

<div class="progress" ng-if="vm.loading">
  <div class="progress-bar progress-bar-success progress-bar-striped active" style="width:100%">
    Loading Users&hellip;
  </div>
</div>

<div class="list-group">
  <a class="list-group-item"
    ng-href="/system/users/{{user._id}}"
    ng-repeat="user in vm.users"
  >
    <p class="list-group-item-heading">
      <strong ng-if="user.details.fullname">{{user.details.fullname}}</strong>
      <strong ng-if="!user.details.fullname">{{user.profile.display}}</strong>
      <span class="pull-right">

        <span class="label label-primary"
          ng-if="user.role.admin"
        >Admin</span>

        <span class="label label-primary"
          ng-if="user.role.verifier"
        >Verifier</span>

        <span class="label label-primary"
          ng-if="user.role.auditor"
        >Auditor</span>

        <span class="label label-warning"
          ng-if="user.auth.confirmExpires
                 && vm.hasExpired(user.auth.confirmExpires)"
        >Confirm Token Expired</span>

        <span class="label label-info"
          ng-if="user.auth.confirmExpires
                 && !vm.hasExpired(user.auth.confirmExpires)"
          title="Confirmation Token Expiry"
        >Token Expires {{user.auth.confirmExpires | date:"M/dd 'at' HH:mm"}}</span>

        <span ng-if="user.status.unconfirmed" class="label label-danger">Unconfirmed Email</span>

        <span class="label label-success"
          ng-if="user.status.beta"
        >Beta Tester</span>

        <span class="label label-danger"
          ng-if="user.status.betaUnconfirmed"
        >Unconfirmend Beta Token</span>

        <span class="label label-danger"
          ng-if="user.status.pending"
        >STATUS: PENDING</span>

        <span class="label label-danger"
          ng-if="user.status.blocked"
        >STATUS: BLOCKED</span>

        <span class="label label-success"
          ng-if="user.status.verified"
        >Verified User</span>

      </span>
    </p>
    <span class="pull-right"
      ng-if="user.meta.created_at"
    >Signed up: {{user.meta.created_at | date:"EEE, yyyy-MM-dd 'at' HH:mm"}}</span>
    <p class="list-group-item-text"
      >{{user.auth.email}} | {{user.profile.display}}</p>
  </a>
</div>
