<div class="white-form container">
  Event list <button class="btn btn-default" ng-click="vm.getEvents()">Load Events</button>
  <div class="list-group" style="margin-bottom: 0;">
    <div class="list-group-item"
      ng-repeat="event in vm.events"
      ng-class="{'list-group-item-danger':event.err}"
    >
      <h3 class="list-group-item-heading">
        {{event.event_type}} | {{event.event_slug}}
        <span class="label label-danger"
          ng-if="event.err"
        >Error</span>
        <small class="pull-right">
          {{event.time | date:"yyyy-MM-dd 'at' HH:mm:ss"}}
        </small>
      </h3>
      <p class="list-group-item-text text-danger lead"
        ng-if="event.err_msg"
      >{{event.err_msg}}</p>
      <!-- {{event|json}} -->
      <p class="list-group-item-text">
        <strong>From IP:</strong> {{event.req.ip}}
        | <strong>{{event.req.method}}</strong> {{event.req.path}}
      </p>
      <p class="list-group-item-text"
        ng-if="event.req.ua"
      ><strong>UA:</strong> {{event.req.ua}}</p>
    </div>
  </div>
</div>
