<!-- SEARCH INPUT -->
<div class="row">
  <div class="omnibox results">
    <form name="vm.queryForm">
      <div class="input-group">
        <input class="form-control input-lg" id="querybox"
          type="text" autocomplete="off" autofocus
          ng-model="vm.queryString"
        >
        <span class="input-group-btn">
          <button class="btn btn-success btn-lg"
            ng-click="vm.doQuery()"
            ng-disabled="!vm.queryString.length || vm.queryForm.$pristine"
          >
            <span class="glyphicon glyphicon-search"></span>
            <span class="hidden-xs">Verify Booking</span>
          </button>
        </span>
      </div>
    </form>
  </div>
</div>

<!-- SEARCHING PROGRESS INDICATOR -->
<div class="row" ng-show="vm.searching">
  <div class="omni-results">
    <div class="progress">
      <div class="progress-bar progress-bar-striped active" style="width: 100%">
      </div>
    </div>
  </div>
</div>

<!-- HAS INCIDENTS JUMBOTRON -->
<div class="row" ng-show="vm.showresults"
  ng-class="{'faded': vm.queryForm.$dirty}"
>
  <div class="omni-results">

    <div class="jumbotron alert alert-danger alert-dismissible"
      ng-show="vm.unresolvedCount && vm.showjumbotron"
    >
      <button type="button" class="close" data-dismiss="alert"
        ng-click="vm.clearResults()"
      >
        <span aria-hidden="true">&times;</span>
        <span class="sr-only">Close</span>
      </button>
      <h1>
        <i class="glyphicon glyphicon-alert text-danger"></i>
        <span
          ng-pluralize
          count="vm.unresolvedCount"
          when="{'1': 'Incident found!', 'other': '{{vm.unresolvedCount}} Incidents found!'}"
        ></span>
      </h1>
      <p>Remember: you have right of admission reserved. You can still decide to allow the guest(s) to stay at your establishment. You could remind them of the rules of admission, or even ask for an additional <i>damages deposit</i> to be paid upfront.</p>
      <!-- <p>This is some help text, explaining the result. Remind the owner that they still have right of admission reserved. It is up to them to disallow the booking or decide to implement additional countermeasures like asking for a <i>damages deposit</i> or payment upfront.</p> -->
      <!-- <p><strong>What to do next:</strong></p>
      <ol>
        <li>Notify the guest that they have been discovered to be listed on the database</li>
        <li>Tell them what action will be taken on your part: if the booking will be allowed or not, and under what circumstances. (Don't lie!)</li>
        <li>Notify the guest on how they should procede if they want to dispute the listing.</li>
      </ol>-->
      <!-- <div class="btn btn-default">Notify admin of incorrect listing</div> -->
      <div class="btn btn-danger pull-right"
        ng-click="vm.clearResults()"
      >Dismiss</div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>

<!-- GENERICS -->
<div class="row"
  ng-if="vm.showresults && vm.generics.length > 0"
  ng-class="{'faded': vm.queryForm.$dirty}"
>
  <div class="omni-results">
    <div class="jumbotron alert alert-warning">
      <h2><i class="glyphicon glyphicon-duplicate text-warning"></i> Generic Name<span ng-show="vm.generics.length !== 1">s</span>/Alias<span ng-show="vm.generics.length !== 1">es</span></h2>
      <p class="lead">The following keyword<span ng-if="vm.generics.length !== 1">s</span> <span ng-if="vm.generics.length === 1">has</span><span ng-if="vm.generics.length !== 1">have</span> been flagged, because the same name<span ng-if="vm.generics.length !== 1">s</span> <span ng-if="vm.generics.length === 1">is</span><span ng-if="vm.generics.length !== 1">are</span> used for multiple businesses (often shelf companies or corporations).</p>
      <h3 class="list-group-item-heading">
        <span ng-repeat="generic in vm.generics"><span ng-if="$index!=0">, </span>
          {{generic.name}}<small ng-if="generic.estimate"> ({{generic.estimate}} duplicate<span ng-if="generic.estimate!==1">s</span>)</small></span>
      </h3>
      <p>Don't rely only on the organization's name; make sure to ask for more information, including photocopies of the guest's ID or drivers licence if at all possible.</p>
    </div>
  </div>
</div>

<!-- NO INCIDENTS JUMBOTRON -->
<div class="row" ng-show="vm.showresults"
  ng-class="{'faded': vm.queryForm.$dirty}"
>
  <div class="omni-results">

    <div class="jumbotron alert alert-dismissible"
      ng-hide="vm.unresolvedCount"
      ng-class="{
        'alert-success': !vm.generics.length
      }"
    >
      <button type="button" class="close" data-dismiss="alert"
        ng-click="vm.clearResults()"
      >
        <span aria-hidden="true">&times;</span>
        <span class="sr-only">Close</span>
      </button>
      <h1><i class="glyphicon glyphicon-ok text-success"></i> No <span ng-if="vm.results.length">Unresolved </span>Incidents</h1>
      <p ng-if="!vm.results.length"
      >There have been no reports filed against the current guest(s).</p>
      <p ng-if="vm.results.length"
      >There have been no unresolved reports filed against the current guest(s).</p>
      <!-- <p>This is some help text, explaining the result. Specifically that a null result doesn't necessarily mean that they are safe from damages.</p> -->
      <!-- <p><strong>Keep on the lookout for these scams:</strong></p>
      <ul>
        <li>Scam description one</li>
        <li>Another scam description</li>
        <li>The last scam description</li>
      </ul> -->
      <div class="btn btn-success pull-right"
        ng-click="vm.clearResults()"
      >Dismiss</div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>

<!-- RESULTS -->
<div class="row" ng-show="vm.showresults"
  ng-class="{'faded': vm.queryForm.$dirty}"
>
  <div class="omni-results">
    <div class="list-group">

      <div class="list-group-item"
        ng-repeat="result in vm.results | orderBy:'is.resolved'"
        ng-class="{
          'list-group-item-success':result.is.resolved
        , 'list-group-item-warning':!result.is.approved
        , 'list-group-item-danger-border': !result.is.resolved
        }"
      >
        <h3 class="list-group-item-heading">
          {{result.incidents[0].type | label:vm.incidents:'title'}}
          <span class="label label-success"
            ng-if="result.is.resolved"
          >Resolved</span>
          <span class="label label-warning"
            ng-if="!result.is.approved"
          >Pending</span>
          <span class="pull-right">on {{result.incidents[0].date | date}}</span>
        </h3>
        <p class="list-group-item-text text-muted">
          Filed by: {{result.business.profile.display}}
          <span ng-repeat="person in result.people">
            <span class="label label-info pull-right"
              ng-repeat="match in person.matches"
            >
              {{match}} match
            </span>
          </span>
        </p>
        <p class="list-group-item-text text-danger"
          ng-if="!result.is.approved"
        ><i class="glyphicon glyphicon-info-sign"></i> This report still needs to be reviewed and approved by GuestSure.</p>
        <p class="list-group-item-text text-success"
          ng-if="result.is.resolved"
        ><i class="glyphicon glyphicon-ok-sign"></i> This incident was resolved between the establishment and the reportee.</p>
      </div>
    </div>
  </div>
</div>
<!-- <pre>results:
{{results | json}}
</pre> -->
