<div
  ng-if="!dir.successMsg.length"
>
  <h3>Please choose a password</h3>
  <label for="loginpassword">Login Password</label>
  <div class="row">
    <div class="col-sm-9">
      <input type="password" class="form-control" id="loginpassword"
        placeholder="Please enter a strong password. (At least 8 characters)"
        ng-model="dir.password"
      >
    </div>
    <div class="col-sm-3">
      <button class="btn btn-block btn-success-border" type="button"
        ng-click="dir.savePassword()"
        ng-disabled="!dir.password || dir.password.length < 8 || dir.saving"
      >Save Password</button>
    </div>
  </div>
</div>
<div class="alert alert-success"
  ng-if="dir.successMsg.length"
>{{dir.successMsg}}</div>
<div class="alert alert-danger"
  ng-if="dir.errorMsg.length"
>{{dir.errorMsg}}</div>
