<div class="row">
  <div class="col-sm-6">
    <div class="form-group">
      <label for="" class="control-label">Business Name</label>
      <input type="text" class="form-control"
        ng-model="org.name"
      >
    </div>
  </div>
  <div class="col-sm-6">
    <div class="form-group">
      <label for="" class="control-label">Website</label>
      <input type="text" class="form-control"
        ng-model="org.url"
      >
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <div class="form-group">
      <label for="" class="control-label">Primary Email</label>
      <input type="text" class="form-control"
        ng-model="org.email"
      >
    </div>
  </div>
  <div class="col-sm-6">
    <div class="form-group">
      <label for="" class="control-label">Booking Email <small>(if different from primary email)</small></label>
      <input type="text" class="form-control"
        ng-model="org.booking_email"
      >
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <div class="form-group">
      <label for="" class="control-label">Primary Landline</label>
      <input type="text" class="form-control"
        ng-model="org.landline"
      >
    </div>
  </div>
  <div class="col-sm-6">
    <div class="form-group">
      <label for="" class="control-label">Booking Landline <small>(if different from primary landline)</small></label>
      <input type="text" class="form-control"
        ng-model="org.booking_landline"
      >
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <div class="form-group">
      <label for="" class="control-label">Cipro Number</label>
      <input type="text" class="form-control"
        ng-model="org.cipro"
      >
    </div>
  </div>
  <div class="col-sm-6">
    <div class="form-group">
      <label for="" class="control-label">VAT Number</label>
      <input type="text" class="form-control"
        ng-model="org.vat"
      >
    </div>
  </div>
</div>
