<p class="lead">Please review the information provided by the user and decide whether to authorize of reject the establishment:</p>
<div class="row">
  <div class="col-xs-6">
    <div class="form-group">
      <button class="btn btn-block btn-success"
        ng-click="dir.authorizeEstablishment()"
        type="button"
        ng-disabled="dir.working || dir.done || dir.waspending || dir.business.status.blocked"
      >Authorize</button>
      <p class="help-block">This action will remove the pending flag and allow the user to access the app immediately. It will also send an authorization notification email.</p>
    </div>
  </div>
  <div class="col-xs-6">
    <div class="form-group">
      <button class="btn btn-block btn-danger"
        ng-click="dir.rejectEstablishment()"
        type="button"
        ng-disabled="dir.working || dir.done || dir.waspending || dir.business.status.blocked"
      >Reject</button>
      <p class="help-block">This action will block the establishment permanently without deleting their account.</p>
    </div>
  </div>
</div>
<div class="alert alert-danger"
  ng-if="dir.errorMsg"
>{{dir.errorMsg}}</div>
<div class="alert alert-success"
  ng-if="dir.successMsg"
>{{dir.successMsg}}</div>
