<div class="form-group">
  <label for="canEstablishmentInvites">
    Can admin members send invitations to other establishments?
  </label>
  <select id="canEstablishmentInvites" class="form-control"
    ng-model="dir.can.establishment_invites"
    ng-options="opt.value as opt.label for opt in dir.establishment_invites"
  >
    <option value="">(Set by tier)</option>
  </select>
</div>
<div class="form-group">
  <button class="btn btn-success" type="button"
    ng-click="dir.putCapability()"
    ng-disabled="dir.saving"
  >
    Save setting
  </button>
</div>
<!-- <pre>{{dir.can | json}}</pre> -->
