<p class="list-group-item-heading">
  Filed {{report.created_at | date:"yyyy-MM-dd 'at' HH:mm"}} <!-- by {{report.business.profile.display}} -->

  <span class="label label-danger pull-right"
    ng-if="!report.is"
  >Unknown</span>

  <span class="pull-right" ng-if="report.is">

    <span class="label label-success"
      ng-if="report.is.approved"
    >Approved</span>

    <span class="label label-info"
      ng-if="!report.is.approved"
    >Pending Approval</span>

    <span class="label label-info"
      ng-if="report.is.resolved"
    >Resolved</span>

  </span>
</p>

<div class="row">
  <div class="col-sm-6">
    <p class="list-group-item-text">
      <span ng-if="report.incidents.length != 1">Incidents:</span>
      <span ng-if="report.incidents.length == 1">Incident:</span>
      <ul>
        <li
          ng-repeat="incident in report.incidents"
        >
          {{incident.type | label:list.incidents:'title'}}
          <span class="text-muted"
            ng-if="incident.damage"
          >(R{{incident.damage | number:2}} damage)</span>
        </li>
      </ul>
    </p>
  </div>
  <div class="col-sm-6">
    <p class="list-group-item-text"
      ng-show="report.people.length"
      ng-pluralize count="report.people.length"
      when="{
        '1': '1 person reported'
      , 'other': '{{report.people.length}} people reported'
      }"
    >
    </p>
    <p class="list-group-item-text"
      ng-show="report.orgs.length"
      ng-pluralize count="report.orgs.length"
      when="{
        '1': '1 organization reported'
      , 'other': '{{report.orgs.length}} organizations reported'
      }"
    >
    </p>
  </div>
</div>
