<!-- SERVER FEEDBACK -->
<div class="alert alert-success"
  ng-if="dir.loading || !dir.initialized"
>
  <div class="progress" style="margin-bottom:0">
    <div class="progress-bar progress-bar-success progress-bar-striped"
      style="width:100%"
      ng-class="{'progress-bar-warning':!dir.initialized, 'active':dir.initialized}"
    ><span ng-if="dir.initialized">Loading Reports</span><span ng-if="!dir.initialized">Authenticating</span></div>
  </div>
</div>
<div class="alert alert-danger"
  ng-if="dir.errorMsg.length"
>{{dir.errorMsg}} | <a href="/">Go to homepage</a>
</div>

<div class="jumbotron"
  ng-if="!dir.loading && !dir.reports.length"
>
  <h1>No reports</h1>
  <p>Your establishment hasn't reported any guests yet! To <a href="/reports/new">report a guest</a>, click the button below.</p>
  <p>
    <a class="btn btn-primary btn-lg" href="/reports/new" role="button"
    >Report a guest</a>
  </p>
</div>

<div class="list-group">
  <a class="list-group-item"
    ng-repeat="report in dir.reports"
    ng-href="/reports/{{report._id}}"
    ng-class="{'bg-success':report.is.resolved}"
  >
    <div ng-include="'system/establishments/single/directives/business-reports-list.html'"></div>
  </a>
</div>
