<div class="form-group">
  <label for="currentTier">
    Current Tier
  </label>
  <select class="form-control" id="currentTier"
    ng-model="dir.tier.current"
    ng-options="k as v.label for (k, v) in dir.tiers"
  >
    <option value="">-- choose tier --</option>
  </select>
</div>
<div class="form-group">
  <button class="btn btn-success" type="button"
    ng-click="dir.putTier()"
    ng-disabled="dir.saving"
  >Save setting</button>
</div>
<!-- <pre>{{dir.tier | json}}</pre>
<pre>{{dir.business | json}}</pre>
<pre>{{dir.tiers | json}}</pre> -->
