<span
  ng-if="!single.report.is.approved"
>
  <a href="#" ng-click="single.approve(true)">Approve</a> |
  <span
    ng-bind="single.report.approved_on ? 'Suspended' : 'Pending'"
    ng-class="single.report.approved_on ? 'text-danger' : 'text-warning'"
  ></span>
  <span class="text-danger"
    ng-if="single.report.suspend_on"
  >on {{single.report.suspend_on | date:"EEE, MMM dd, yyyy 'at' HH:mm"}}</span>
  <span ng-if="currentUser.role.auditor" class="hidden-print">
  </span>
</span>

<span
  ng-if="single.report.is.approved"
  class="text-success"
>
  <a href="#" ng-click="single.approve(false)">Suspend</a> |
  <span ng-if="single.report.approved_on">
  on {{single.report.approved_on | date:"EEE, MMM dd, yyyy 'at' HH:mm"}}
  </span>
  <span ng-if="currentUser.role.auditor" class="hidden-print">
  </span>
</span>
