<div style="clear:both;">
  <span class="label label-warning pull-right"
    ng-if="!single.report.is.approved && !single.report.approved_on"
  >Pending</span>
  <span class="label label-info pull-right"
    ng-if="single.report.is.approved && !single.report.is.resolved"
  >Approved</span>
  <span class="label label-success pull-right"
    ng-if="single.report.is.approved && single.report.is.resolved && single.report.is.resolved"
  >Resolved</span>
  <span class="label label-danger pull-right"
    ng-if="!single.report.is.approved && single.report.approved_on"
  >Suspended</span>
</div>
<div style="clear:both;">
  <p class="text-success" style="text-align:right;"
    ng-if="single.report.is.approved && single.report.is.resolved && single.report.resolved_on"
  >Resolved on {{single.report.resolved_on | date:"EEE, MMM dd, yyyy 'at' HH:mm"}}</p>
  <p class="text-success" style="text-align:right;"
    ng-if="single.report.is.approved && !single.report.is.resolved && single.report.approved_on"
  >Approved on {{single.report.approved_on | date:"EEE, MMM dd, yyyy 'at' HH:mm"}}</p>
  <p class="text-danger" style="text-align:right;"
    ng-if="!single.report.is.approved && single.report.approved_on"
  >Suspended on {{single.report.suspend_on | date:"EEE, MMM dd, yyyy 'at' HH:mm"}}</p>
</div>
