<div class="list-group">
  <div class="list-group-item"
    ng-repeat="incident in single.report.incidents"
  >
    <edit-incident
      incident="incident"
      not-editing="!single.editIncidents"
      incident-labels="single.incidents"
      incident-options="single.incidents"
      report-id="single.report._id"
    ></edit-incident>
<!--     <dl class="dl-horizontal list-group-item-text">
      <dt>Type</dt>
      <dd>{{incident.type | label:single.incidents:'title'}}</dd>
      <dt>Date</dt>
      <dd>{{incident.date | date:"EEE, MMM dd, yyyy"}}</dd>
      <dt>Damage</dt>
      <dd>R{{incident.damage}} estimated damage/loss</dd>
      <dt>Notes</dt>
      <dd><blockquote class="list-group-item-text">{{incident.details}}</blockquote></dd> -->
    </dl>
  </div>
  <div class="alert alert-danger"
    ng-if="single.report._id && !single.report.incidents.length"
  ><strong>Zero Incidents!</strong> Please add at least one incident to this report.</div>
</div>
