<div class="list-group">
  <div class="list-group-item"
    ng-repeat="org in single.report.orgs"
  >
    <edit-info
      ng-repeat="info in org.info as original"
      2info="info"
      info="single.report.orgs[$parent.$index].info[$index]"
      infos="org.info"
      info-index="$index"
      labels="single.labels.orgs"
      options="single.labels.orgs"
      add="single.addOrgInfo(org._id, info)"
      update="single.updateOrgInfo(org._id, original[$index]._id, info)"
      remove="single.removeOrgInfo(org._id, original[$index]._id)"
      not-editing="!single.editOrgs"
    ></edit-info>
    <div class="form-group info-row"
      ng-if="single.editOrgs"
    >
      <div class="col-sm-3"
        ng-if="org.info[org.info.length-1]._id || !org.info.length"
      >
        <p class="label-align">
          <a href="#" class="btn btn-sm btn-primary-border"
            ng-click="org.info.push({});"
          >Add info</a>
        </p>
      </div>
      <div class="col-sm-3">
        <p class="input-align">
          <a href="#" class="btn btn-sm btn-red-border"
            ng-click="single.removeOrg(org._id, $index);"
          >Delete Organization</a>
        </p>
      </div>
    </div>
  </div>
  <div class="alert alert-info"
    ng-if="single.report._id && !single.report.orgs.length"
  >No Organizations</div>
</div>
