<div class="list-group">
  <div class="list-group-item"
    ng-repeat="person in single.report.people"
  >

    <!-- SINGLE PERSON -->
    <edit-fullname
      fullname="person.fullname"
      person-id="person._id"
      report-id="single.report._id"
      not-editing="!single.editPeople"
    ></edit-fullname>
    <edit-country
      country="person.country"
      person-id="person._id"
      report-id="single.report._id"
      not-editing="!single.editPeople"
    ></edit-country>

    <!-- EACH INFO IN PERSON.INFO -->
    <edit-info
      ng-repeat="info in person.info as original"
      info="single.report.people[$parent.$index].info[$index]"
      infos="person.info"
      info-index="$index"
      labels="single.labels.people"
      options="single.labels.people"
      add="single.addPersonInfo(person._id, info)"
      update="single.updatePersonInfo(person._id, original[$index]._id, info)"
      remove="single.removePersonInfo(person._id, original[$index])"
      not-editing="!single.editPeople"
    ></edit-info>
    <div class="form-group info-row"
      ng-if="single.editPeople"
    >
      <div class="col-sm-3"
        ng-if="person.info[person.info.length-1]._id || !person.info.length"
      >
        <p class="label-align">
          <a href="#" class="btn btn-sm btn-primary-border"
            ng-click="person.info.push({});"
          >Add info</a>
        </p>
      </div>
      <div class="col-sm-3">
        <p class="input-align">
          <a href="#" class="btn btn-sm btn-red-border"
            ng-click="single.removePerson(person._id, $index);"
          >Delete Person</a>
        </p>
      </div>
    </div>
  </div>
  <div class="alert alert-info"
    ng-if="single.report._id && !single.report.people.length"
  >No People</div>
</div>
