<span ng-if="!single.report.is.resolved">
  <a href="#" ng-click="single.resolve(true)">Mark as Resolved</a> |
  <span
    ng-bind="single.report.resolved_on?'Not Resolved; Reinstated':'Pending Resolution'"
    ng-class="single.report.resolved_on?'text-danger':'text-info'"
  ></span>
  <span class="text-danger"
    ng-if="single.report.unresolved_on"
  >on {{single.report.unresolved_on | date:"EEE, MMM dd, yyyy 'at' HH:mm"}}</span>
  <span ng-if="currentUser.role.auditor">
  </span>
</span>

<span ng-if="single.report.is.resolved" class="text-success">
  <a href="#" ng-click="single.resolve(false)">Cancel</a> |
  Resolved
  <span ng-if="single.report.resolved_on"
  >on {{single.report.resolved_on | date:"EEE, MMM dd, yyyy 'at' HH:mm"}}</span>
  <span ng-if="currentUser.role.auditor">
  </span>
</span>
