<div class="white-form">
  <div class="row" style="margin-bottom: 0.5rem">
    <div class="col-sm-4">
      <div class="input-group">
        <input type="text" class="form-control"
          ng-model="vm.textFilter"
          placeholder="Quick Filter"
          ng-model-options="{ updateOn: 'default blur', debounce: { default: 500, blur: 0 } }"
        >
        <span class="input-group-btn">
          <button class="btn btn-default"
            ng-click="vm.textFilter = ''"
          >Clear</button>
        </span>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="pull-right">
        <button class="btn btn-default" type="button"
          ng-click="vm.showIdenticons = !vm.showIdenticons"
          ng-class="{
            'btn-primary active': vm.showIdenticons
          }"
        ><i class="glyphicon glyphicon-picture"></i></button>
        <button class="btn btn-default" type="button"
          ng-click="vm.showFilters = !vm.showFilters"
          ng-class="{
            'btn-primary active': vm.showFilters
          }"
        ><i class="glyphicon glyphicon-filter"></i> Filters&hellip;</button>
        <button class="btn btn-default" type="button"
          ng-click="vm.showSorting = !vm.showSorting"
          ng-class="{
            'btn-primary active': vm.showSorting
          }"
        ><i class="glyphicon glyphicon-sort"></i> Sorting&hellip;</button>
        <button class="btn btn-default" type="button"
          ng-click="vm.showRange = !vm.showRange"
          ng-class="{
            'btn-primary active': vm.showRange
          }"
        ><i class="glyphicon glyphicon-calendar"></i> Range&hellip;</button>
        <button class="btn btn-success" type="button"
          ng-click="vm.getQueries()"
        ><i class="glyphicon glyphicon-send"></i> Load</button>
      </div>
    </div>
  </div>
  <div ng-show="vm.showFilters">Filters</div>
  <div ng-show="vm.showSorting">Sorting</div>
  <div ng-show="vm.showRange">Range</div>
  <div class="progress" style="margin-bottom: 0"
    ng-if="vm.loading"
  >
    <div class="progress-bar progress-bar-success progress-bar-striped active" style="width:100%">
      Loading Queries&hellip;
    </div>
  </div>
  <div class="list-group" style="margin-bottom: 0;">
    <div class="list-group-item"
      ng-repeat="query in vm.queries | filter:vm.textFilter"
      ng-dblclick="query.showJson = !query.showJson"
    >
      <div class="row">
        <div class="col-sm-7">
          <icon-identicon
            class="identicon"
            ng-if="query.user && vm.showIdenticons"
            code="{{query.user|iconHash}}"
            title="user: {{query.user}}"
            size="30"
          ></icon-identicon>
          <icon-identicon
            class="identicon"
            ng-if="query.business && vm.showIdenticons"
            code="{{query.business|iconHash}}"
            title="establishment: {{query.business}}"
            size="30"
          ></icon-identicon>
          <p class="list-group-item-text">{{query.queryString}}</p>
        </div>
        <div class="col-sm-5">
          <p class="list-group-item-text text-right text-muted">
            {{query.created_at | date:"yyyy-MM-dd 'at' HH:mm"}}
          </p>
          <p class="list-group-item-text text-right">

            <span class="label label-warning"
              ng-if="query.orgCnt"
            >Orgs: {{query.orgCnt}}</span>

            <span class="label label-warning"
              ng-if="query.personCnt"
            >People: {{query.personCnt}}</span>

            <span class="label label-danger"
              ng-if="query.incidentCnt"
            >Incidents: {{query.incidentCnt}}</span>

            <span class="label label-danger"
              ng-if="query.reportCnt"
            >Reports: {{query.reportCnt}}</span>

          </p>
        </div>
      </div>
      <pre ng-if="query.showJson">{{query | json}}</pre>
    </div>
  </div>
</div>
