@grid-float-breakpoint: 350px;
@navbar-inverse-bg: #15406F;

.btn {
  outline: 0 !important;
}
.btn.active:hover {
  color: #ddd;
}

/* TEMP FIX FOR DROPDOWN'S WITHOUT NG-ANIMATE */
ul.dropdown-menu.ng-scope.bottom-right.am-fade {
  left: auto !important;
}
ul.dropdown-menu {
  &:focus {
    outline-width: 0px;
  }
}

.label {
  font-weight: normal;
}

/* Button group alignment fix */
.btn-lg, .btn-group-lg>.btn {
  padding: 14px 16px 15px;
}

.report_new_form_heading {
  margin: 0 0 20px 0 !important;
  text-align:center;
}
.list-group-item-heading {
  font-weight: bold;
}
.beta {
  font-size:10px;
  color:#aaa;
  bottom:2px;
  position:relative;
  text-shadow:2px 2px 1px rgba(0, 0, 0, 1)
}
pre {
  //display: none !important;
}
.main {
  margin-bottom: 5em;
}

/**/
.dynamic-button {
  display: inline-block;
  width: 100%;
  //margin: 0 10px 20px 0;
  margin-bottom: 20px;
  text-align: center;
  border-radius: 3px;
  background: #ccc;
  border: 1px #ccc solid;
  text-decoration: none;
  .title {
    color: white;
    text-transform: uppercase;
  }
  .subcat {
    padding: 10px 15px;
    min-height: 56px;
    text-align: center;
    background-color: #FCFCFC;
    //border-top: 1px solid #e4e4e4;
    display: block;
    font-size: 13px;
    color: #bbb;
  }
  select.subcat {
    width: 100%;
    -webkit-appearance: none;
    height: 38px;
    background: #eee;
  }
  &.selected {
    background: #479de4;
    border: 2px #479de4 solid;
    .subcat {
      background-color: #fff;
      //border-top: 1px solid #f00;
      color: #060606;
    }
    .glyphicon {
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    }
  }
  &:hover {
    text-decoration: none;
    color: red !important;
    .subcat {
      color: #479de4;
    }
  }
  .list-group-item {
    cursor: pointer;
  }
}
.subcat_items {
  display: inline;
  position: absolute;
  width: 100%;
}
.popover {
  top: 75%;
  width: 200px !important;
}

/* New Check (Omnibox) */
.omnibox {
  margin-top: 13%;
  width: 90%;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}
.omnibox.results {
  margin-top: 1em;
  margin-bottom: 1em;
}
.omni-results {
  width: 90%;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  h1, h2, h3, h4, h5, h6, .jumbotron {
    color: #222 !important;
  }
}

label small {
  font-weight: normal;
}

.faded {
  opacity: 0.4;
}
.landing-brand {
  cursor: default;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */

  /* No support for these yet, use at own risk */
  -o-user-select: none;
  user-select: none;
  text-align: center;
  font-size: 60px;
  margin-bottom: 20px;
  text-shadow: 1px 1px 0 black, -1px -1px 2px #ddd;
  .beta {
    font-family: monospace;
    position:relative;
    bottom:10px;
    font-size:30px;
    color:#044687;
    // text-transform: uppercase;
    position:relative;
    text-shadow:3px 2px 3px rgba(0, 0, 0, 0.5);
  }
}

.btn-align {
  padding: 9px 0px;
  margin: 0;
  line-height: 1.42857143;
  vertical-align: middle;
  font-size: 14px;
}

.editable {
  width: 100%;
  padding: 0px 0 5px 0;
  margin-bottom: 0;
  font-weight: normal;
}
.term-row {
  margin: 10px 0;
}
.input-row {
  margin-bottom: -5px;
  // margin: 6px 0; // input-sm
  input{
    margin-left: -13px;
    margin-top:-9px;
    margin-bottom: -16px;
    // margin-top:-4px; // input-sn
    // margin-bottom: -8px; // input-sn
  }
  button {
    position:relative;
    bottom:1px;
    margin-top:-10px;
    margin-bottom: -10px;
  }
}

.term-label {
  text-align: right;
  font-weight: bold;
}

.editable {
  /* cursor: pointer; */
  .edit-label {
    border-bottom: 1px dotted #777;
    &:hover {
      color: @link-color;
      border-bottom: 1px solid @link-color;
    }
  }
}

#__lpform_input_idx_0,
#__lpform_input_idx_1{
  display: none;
}

/* Temp */
.label-align {
  text-align: right;
  margin-top: 8px;
}
.info-row {
  margin-bottom: 5px;
}
.input-align {
  display: inline-block;
  margin-top: 9px;
  margin-bottom: 6px;
}
.info-edit {
  input {
    border: 1px solid white;
    border-bottom: 1px dotted #ddd;
    box-shadow: none;
    &:focus {
      border: 1px solid #66afe9;
      outline: 0;
      -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    }
  }
}

.business-header, .inverse-header {
  // border-top-left-radius: @panel-border-radius;
  // border-top-right-radius: @panel-border-radius;
  border-radius: @panel-border-radius;
  padding: @panel-body-padding;
  &:extend(.clearfix all);
  background: @navbar-inverse-bg;
  color: white;
  h1 {
    margin-top: 0;
  }
  h1, a {
    color: white;
  }
  p {
    margin-bottom: 0;
  }
}
.panel-heading a {
  color:white;
}
.business-nav, .inverse-nav {
  margin-bottom: @line-height-computed;
  border-bottom: 0px;
  > li {
    margin-bottom: 0;
    margin-top: -@panel-border-radius;
    > a {
      border-radius: 0 0 @border-radius-base @border-radius-base;
    }
    &.active > a {
      &,
      &:hover,
      &:focus {
        color: #fff;
        background-color: @navbar-inverse-bg;
        //border: 1px solid @nav-tabs-active-link-hover-border-color;
        border: 1px solid @navbar-inverse-bg;
        border-top-color: transparent;
      }
    }
  }
}

.btn-white-border {
  border: 2px solid white;
  background: transparent;
  &:hover, &:focus {
    color: white;
    background: rgba(255, 255, 255, 0.2);
  }
}
.btn-red-border {
  border: 2px solid red;
  background: transparent;
  color:red;
  &:hover, &:focus {
    color: red;
    background: rgba(255, 0, 0, 0.2);
  }
  &:disabled {
    background: rgba(0, 0, 0, 0.2);
  }
}
.btn-primary-border {
  border: 2px solid @brand-primary;
  background: transparent;
  color: @brand-primary;
  &:hover, &:focus {
    color: darken(@brand-primary, 20%);
    background: fade(@brand-primary, 20%);
  }
  &:disabled {
    background: rgba(0, 0, 0, 0.2);
  }
}
.btn-success-border {
  border: 2px solid @brand-success;
  background: transparent;
  color: @brand-success;
  &:hover, &:focus {
    color: darken(@brand-success, 20%);
    background: fade(@brand-success, 20%);
  }
  &:disabled {
    background: rgba(0, 0, 0, 0.2);
  }
}

/* ACCORDION SECTIONS */
.accordion_section {
  position: relative;
  padding: 1em 0;
  margin: -1px 0 0 0;
  border-top: 1px solid #e8e8e8;
  &:last-child {
    border-bottom: 1px solid #e8e8e8;
    margin-bottom: 0;
  }
  h3 {
    padding-right: 70px;
    &:extend(.list-group-item-heading);
    cursor: pointer;
  }
  p {
    &:extend(.list-group-item-text);
  }
  .accordion_expand {
    position: absolute;
    top: 1rem;
    right: 0;
    text-transform: lowercase;
  }
  .accordion_collapse {
    padding-top: 0.5em;
  }
}

.navbar-inverse {
  background-color: rgba(18, 54, 89, 0.6);
  border-color: rgba(2, 47, 90, 0.6);
  background-image: none;
}

.white-form {
  box-shadow:0 3px 4px -1px black;
  background: #f6f6f6;
  border-radius: 5px;
  // width: 90%;
  max-width: 780px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
  padding:15px;
  h3:first-of-type {
    margin-top: 0;
  }
  fieldset {
    margin-bottom: 2em;
  }
  &.container {
    max-width: inherit;
  }
}

#landing-logo {
  width: 350px;
  max-width: 100%;
  height: auto;
}

/* Hide icons and text if .has-warning/success/error is missing */

.has-feedback {
  .form-control-feedback,
  .warning-text,
  .success-text,
  .error-text {
    display: none;
  }
  // .has-text {
  //   top: 17px !important;
  // }
}
.has-warning {
  .glyphicon-warning-sign,
  .warning-text {
    display: block;
    // position: absolute;
    // right: 9px;
    // bottom: -2px;
  }
}
.has-success {
  .glyphicon-ok,
  .success-text {
    display: block;
  }
}
.has-error {
  .glyphicon-remove,
  .error-text {
    display: block;
  }
}
.showInvalid {
  .warning-text, .error-text {
    display: block !important;
  }
}

.report-editor {
  legend {
    border-bottom: 3px solid #ddd;
  }
}

.identicon {
  float: left;
  padding-right: 0.5em;
}

.list-group-item-danger,
.list-group-item-danger-border {
  border-left: 5px solid @brand-danger;
}

.list-group-item-success {
  border-left: 5px solid @brand-success;
}
