.btn-gs-success {
  // display: inline-block;
  padding: 14px 32px;
  background: hsl(133, 47%, 39%);
  border: 1px solid #2D8140;
  border-radius: 5px;
  font-weight: normal;
  color: white;
  text-shadow: 0 1px 1px black;
  text-shadow: 0 1px 1px rgba(0,0,0,0.25);
  text-decoration: none;
  box-shadow:0 3px 4px -1px black;
  box-shadow:0 3px 4px -1px rgba(0,0,0,0.75);
  text-align:center;
  //position: relative;
  // Todo: CSS3 Translate instead of bottom (for animation)
  //bottom: 3px;
  -webkit-transform: translate(0px, -3px);
  transform: translate(0px, -3px);
  transition:all 0.2s ease-in-out;
  outline: none;
  &:hover {
    color: #ddd;
  }
  &.btn-lg {
    letter-spacing: 1px;
    font-size: 18px;
    line-height: 20px;
  }
  &:active, &:disabled, &.disabled {
    box-shadow: none;
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    //bottom: 0px;
  }
  &:disabled, &.disabled {
    text-shadow: none;
    background: hsl(133, 23%, 39%);
  }
  &:focus {
    border: 1px solid hsl(210, 70%, 39%);
  }
  &:focus, &.active {
    background: hsl(133, 70%, 39%) !important;
  }
}
