<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">Billing</h3>
  </div>
  <div class="panel-body">
    Payment up to date. Next due date: 2015/04/30
  </div>
  <div class="panel-footer">Last payment received on 2015/02/03 (monthly)</div>
</div>
