<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">Establishment Info</h3>
  </div>
  <div class="panel-body">
    Guesthouse | 33 Beds | 12 Campsites
  </div>
  <div class="panel-footer">Last updated on 2014/12/08</div>
</div>
