<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">Weekly Quota</h3>
  </div>
  <div class="panel-body">
    <div class="progress" style="margin-bottom:0">
      <div class="progress-bar progress-bar-success progress-bar-striped"
        style="width:72.9%"
      >729/1000</div>
    </div>
  </div>
  <div class="panel-footer">Last week: 899/1000 queries</div>
</div>
