<div class="form-group info-row"
  ng-hide="notEditing && ( vm.fullname=='' || !vm.fullname )"
>

  <div class="info-edit">

    <!-- INPUT LABEL -->
    <label class="control-label col-sm-3">Full Name</label>

    <!-- INPUT FIELD -->
    <div class="col-sm-5">
      <input type="text" class="form-control"
        ng-model="vm.fullname"
        ng-if="!notEditing"
        placeholder="No full name provided"
      >
      <p class="input-align"
        ng-if="notEditing"
      >{{vm.fullname}}</p>
    </div>

    <!-- CONTEXTUAL COMMANDS -->
    <div class="col-sm 4" ng-if="!notEditing">
      <p class="input-align"
        ng-if="vm.fullname != fullname"
      >
        <!-- INITIAL CONTROLS -->
        <span ng-hide="vm.reverting || vm.saving">
          <a href="#" class="text-success"
            ng-click="vm.saveChanges()"
          >
            <i class="glyphicon glyphicon-ok"></i> Save
          </a> |
          <a href="#" class="text-warning"
            ng-click="vm.reverting = true"
          >
            <i class="glyphicon glyphicon-arrow-left"></i> Undo&hellip;
          </a>
        </span>

        <!-- UNDO CONFIRMATION -->
        <span ng-show="vm.reverting && !vm.saving">
          Undo Changes?
          <a href="#" class="text-success"
            ng-click="vm.reverting = false"
          >No</a> |
          <a href="#" class="text-danger"
            ng-click="vm.revert();"
          >
            <i class="glyphicon glyphicon-arrow-left"></i> Undo
          </a>
        </span>

        <!-- SAVING FEEDBACK -->
        <span class="text-success" ng-show="vm.saving">Saving&hellip;</span>
      </p>
    </div>
  </div>
</div>
