<form class="form-horizontal" name="vm.incidentForm">
<!-- USE $SCOPE.INCIDENT INSTEAD OF VM.INCIDENT FOR NON-EDITING MODE -->
<div
  ng-if="notEditing && incident._id"
>
  <div class="row">
    <div class="col-sm-offset-2">
      <h3>{{incident.type | label:incidents:'title'}}</h3>
    </div>
  </div>
  <div class="row"
    ng-if="incident.date"
  >
    <label class="control-label col-sm-3">
      Date
    </label>
    <div class="col-sm-9">
      <p class="input-align">
        {{incident.date | date:"EEE, MMM dd, yyyy"}}
      </p>
    </div>
  </div>
  <div class="row"
    ng-if="incident.desc"
  >
    <label class="control-label col-sm-3">
      Description (Other)
    </label>
    <div class="col-sm-9">
      <p class="input-align">
        {{incident.desc}}
      </p>
    </div>
  </div>
  <div class="row"
    ng-if="incident.damage"
  >
    <label class="control-label col-sm-3">
      Damages
    </label>
    <div class="col-sm-9">
      <p class="input-align">
        R{{incident.damage}} estimated damage/loss
      </p>
    </div>
  </div>
  <div class="row"
    ng-if="incident.details"
  >
    <label class="control-label col-sm-3">
      Notes
    </label>
    <div class="col-sm-9">
      <blockquote class="list-group-item-text">
        {{incident.details}}
      </blockquote>
    </div>
  </div>
</div>
<div
  ng-if="!notEditing || !vm.incident._id"
>
    <!-- EDIT INCIDENT TYPE -->
    <div class="row">
      <label class="col-sm-3 control-label">
        Type
      </label>
      <div class="col-sm-5">
        <select class="form-control"
          ng-model="vm.incident.type"
          ng-options="option.slug as option.title for option in vm.options"
        >Select incident type</select>
      </div>
    </div>

    <!-- EDIT INCIDENT DESCRIPTION (TYPE==OTHER) -->
    <div class="row">
      <label class="col-sm-3 control-label">
        Description
      </label>
      <div class="col-sm-5">
        <input type="text" class="form-control"
          ng-model="vm.incident.desc"
          placeholder="Description of incident type if 'other'"
        >
      </div>
    </div>

    <!-- EDIT INCIDENT DATE -->
    <div class="row">
      <label class="col-sm-3 control-label">
        Date
      </label>
      <div class="col-sm-5">
        <input type="text" class="form-control"
          ng-model="vm.incident.date"
          datepicker-popup="yyyy/MM/dd"
          is-open="opened"
          ng-focus="opened=true"
          ng-click="opened=true"
        >
      </div>
    </div>

    <!-- EDIT INCIDENT DAMAGES ESTIMATION -->
    <div class="row">
      <label class="col-sm-3 control-label">
        Damage
      </label>
      <div class="col-sm-5">
        <div class="input-group">
          <span class="input-group-addon">R</span>
          <input type="number" class="form-control" id="incident_damages"
            placeholder="damages" min="0"
            style="text-align:right;"
            ng-model="vm.incident.damage"
          >
        </div>
      </div>
    </div>

    <!-- EDIT INCIDENT DETAILS -->
    <div class="row">
      <label class="col-sm-3 control-label">
        Notes
      </label>
      <div class="col-sm-5">
        <textarea id="" cols="30" rows="6" class="form-control"
          ng-model="vm.incident.details"
        ></textarea>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-3 col-sm-offset-4">
        <button class="btn 2btn-sm btn-block btn-success-border" type="button"
          ng-disabled="vm.incidentForm.$pristine"
          ng-click="vm.updateIncident();"
        >Save</button>
      </div>
      <div class="col-sm-3">
        <p class="text-success btn-align"
          ng-if="vm.updated && vm.incidentForm.$pristine"
        >Updated!</p>
        <p class="btn-align"
          ng-if="vm.updating"
        >Updating&hellip;</p>
        <p class="btn-align text-danger"
          ng-if="vm.updateError.length"
        >
          Error: {{vm.updateError}}
        </p>
      </div>
    </div>


</div>
</form>
