<div class="form-group info-row">

  <!-- FOR PREEXISTING INFO'S (INFO'S WITH ._ID'S) -->
  <div class="info-edit" ng-if="vm.info._id">

    <!-- INPUT LABEL -->
    <label class="control-label col-sm-3">
      {{vm.info.type | label:vm.labels}}
    </label>

    <!-- INPUT FIELD -->
    <div class="col-sm-5">
      <input type="text" class="form-control"
        ng-model="vm.info.data"
        ng-keydown="vm.keydown($event)"
        ng-disabled="vm.saving"
        ng-if="!notEditing"
      >
      <p class="input-align"
        ng-if="notEditing"
      >{{vm.info.data}}</p>
    </div>

    <!-- CONTEXTUAL COMMANDS -->
    <div class="col-sm-4">
      <strong class="input-align text-danger"
        ng-if="vm.info.data != vm.original.data && notEditing"
      >Not Saved</strong>
      <p class="input-align" ng-if="vm.info.data == vm.original.data && !notEditing">
        <a href="#" class="text-danger" title="Remove item"
          ng-click="vm.remove=true" ng-hide="vm.remove || vm.removing"
        ><i class="glyphicon glyphicon-trash"></i></a>

        <span ng-show="vm.remove">
          <i class="glyphicon glyphicon-trash text-muted"></i>
          Are you sure?
          <a href="#" class="text-success"
            ng-click="vm.remove=false" ng-hide="vm.removing"
          >Back</a> |
          <a href="#" class="text-danger"
            ng-click="vm.removeInfo()" ng-show="vm.remove && !vm.removing"
          >Remove Info</a>
          <span class="text-danger" ng-show="vm.removing">Removing&hellip;</span>
        </span>
      </p>
      <p class="input-align" ng-if="vm.info.data != vm.original.data && !notEditing">
        <i class="glyphicon glyphicon-trash text-muted"></i> |
        <span ng-hide="vm.reverting || vm.saving">
          <a href="#" class="text-success"
            ng-click="vm.saveChanges()"
          ><i class="glyphicon glyphicon-ok"></i> Save</a>
          <span> | </span>
          <a href="#" class="text-warning"
            ng-click="vm.reverting=true"
          ><i class="glyphicon glyphicon-arrow-left"></i> Undo&hellip;</a>
        </span>
        <span ng-show="vm.reverting && !vm.saving">
          Undo Changes?
          <a href="#" class="text-success"
            ng-click="vm.reverting=false"
          >No</a> |
          <a href="#" class="text-danger"
            ng-click="vm.revert();"
          ><i class="glyphicon glyphicon-arrow-left"></i> Undo</a>
        </span>
        <span class="text-success" ng-show="vm.saving">Saving&hellip;</span>
      </p>
    </div>
  </div>

  <!-- FOR NEW INFO's (WITHOUT ._ID's) -->
  <div ng-if="!vm.info._id">
    <div class="col-sm-3">
      <select class="form-control"
        ng-model="vm.info.type"
        ng-options="option.slug as option.title for option in vm.options"
      ><option value="">Type:</option></select>
    </div>
    <div class="col-sm-5">
      <input type="text" class="form-control"
        ng-model="vm.info.data"
      >
    </div>
    <div class="col-sm-2">
      <button type="button" class="btn btn-success-border btn-block"
        ng-click="vm.addNew()"
        ng-disabled="!vm.info.type || !vm.info.data.length"
      >Save</button>
    </div>
  </div>
</div>
