<h3>Select the type of Incident</h3>

<div class="row" ng-hide="directive.incidentSet">
  <div class="col-xs-4">
    <div class="list-group">
      <a href="#" class="list-group-item"
        ng-repeat="category in directive.categories"
        ng-class="{'active': directive.pickedCat==category}"
        ng-click="directive.pickCat(category);directive.pickInc()"
        ng-mouseenter="directive.pickCat(category);directive.pickInc()"
        >
        <h4 class="list-group-item-heading">{{category.title}}</h4>
        <p class="list-group-item-text">{{category.info}}</p>
      </a>
    </div>
  </div>
  <div 2class="col-xs-4"
    ng-show="directive.pickedCat"
    ng-class="{
      'col-xs-4': showinfo
    , 'col-xs-8': !showinfo
    }">
    <div class="list-group">
      <a class="list-group-item" href="#"
        ng-repeat="incident in directive.incidents | filter:directive.pickedCat.slug"
        ng-class="{'active': directive.incident==incident}"
        ng-click="directive.pickInc(incident);directive.incidentSet=true"
        ng-mouseenter="directive.pickInc(incident);directive.incidentSet=false"
        >
        <p
          ng-class="{
          'list-group-item-heading':!showinfo
          , 'list-group-item-text':showinfo
          }"
        >{{incident.title}}</p>
        <p class="list-group-item-text"
          ng-show="!showinfo"
        >{{incident.info}}</p>
      </a>
    </div>
    <!-- <button class="btn btn-info btn-xs" type="button"
      ng-click="showinfo=!showinfo"
    >?</button> -->
  </div>
  <div class="col-xs-4"
    ng-show="directive.pickedCat && showinfo"
    >
    <!-- <p>Info Pane</p> -->
    <p>{{directive.pickedInc.info}}</p>
    <a href="#"
      ng-show="directive.pickedInc"
      ng-click="directive.incidentSet=true"
    >Click to choose this incident</a>
  </div>
  <div class="col-xs-8" ng-hide="directive.pickedCat">
    <div class="jumbotron">
      <h2>Pick a Category</h2>
      <p><span class="glyphicon glyphicon-chevron-left"></span> Click or hover over a category to view additional options and information.</p>
    </div>
  </div>
</div>

<div class="row" ng-show="directive.incidentSet">
  <div class="col-sm-4">
    <h4>{{directive.pickedCat.title}}</h4>
    <p>{{directive.pickedCat.info}}</p>
    <strong>{{directive.pickedInc.title}}</strong>
    <p>{{directive.pickedInc.info}}</p>
    <button class="btn btn-primary" type="button"
      ng-click="
        directive.pickCat();
        directive.pickInc();
        directive.incidentSet=false"
      >
      <span class="glyphicon glyphicon-chevron-left"></span> Change incident
    </button>
  </div>
  <div class="col-sm-8">
    <div class="form-group"
      ng-show="directive.incident.type=='other'"
    >
      <label for="" class="control-label">Type of Incident (other)</label>
      <input type="text" class="form-control"
        placeholder="Please specify the type of incident"
        ng-model="directive.incident.desc"
      >
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="" class="control-label">Date of Incident</label>
          <input type="text" class="form-control"
            ng-model="directive.incident.date"
            datepicker-popup="yyyy/MM/dd"
            is-open="opened"
            ng-focus="opened=true"
            ng-click="opened=true"
            placeholder="Date (popup will open)"
          >
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="incident_damages" class="form-label"
            >Estimated Damages</label>
          <div class="input-group">
            <span class="input-group-addon">R</span>
            <input type="number" class="form-control" id="incident_damages"
              placeholder="Amount" min="0"
              style="text-align:right;"
              ng-model="directive.incident.damage"
            >
            <!-- <span class="input-group-addon">.00</span> -->
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="incident_notes" class="form-label">Notes</label>
      <textarea name="" id="incident_notes" class="form-control"
        cols="30" rows="10"
        ng-model="directive.incident.details"
        placeholder="Please provide a brief description of the incident"
      ></textarea>
    </div>
  </div>
</div>
