<section class="accordion_section">
  <button class="btn btn-sm btn-default accordion_expand pull-right"
    type="button"
    ng-click="section.active = !section.active"
    ng-class="{'btn-primary active': section.active}"
  >expand</button>
  <h3
    ng-click="section.active = !section.active"
  >
    {{section.heading}}
    <small ng-if="section.secondary">| {{section.secondary}}</small>
  </h3>
  <p ng-if="!section.active">{{section.subhead}}</p>
  <div ng-if="section.active" class="accordion_collapse">
    <ng-transclude></ng-transclude>
  </div>
</section>
<!-- <div class="clearfix"></div> -->
