<!-- LOADING FEEDBACK -->
<div class="alert alert-success"
  ng-if="vm.loading || !vm.initialized"
>
  <div class="progress" style="margin-bottom:0">
    <div class="progress-bar progress-bar-success progress-bar-striped"
      style="width:100%"
      ng-class="{'progress-bar-warning':!vm.initialized, 'active':vm.initialized}"
    ><span ng-if="vm.initialized">Fetching User</span><span ng-if="!vm.initialized">Authenticating</span></div>
  </div>
</div>

<!-- ERROR FEEDBACK -->
<div class="alert alert-danger" ng-if="vm.loadingError.length">
  Error: {{vm.loadingError}}
</div>

<div class="row"
  ng-if="vm.loaded"
>
  <div class="white-form">
    <div ng-include="'system/users/single/partials/header.html'"></div>

    <div ng-if="vm.activeTab == 'account'"
      ng-include="'system/users/single/partials/account.html'"
    ></div>
    <div ng-if="vm.activeTab == 'admin'"
      ng-include="'system/users/single/partials/admin.html'"
    ></div>
    <div ng-if="vm.activeTab == 'welcome'"
      ng-include="'system/users/single/partials/welcome.html'"
    ></div>
  </div>
</div>
