<div class="row">
  <div
    ng-class="{
      'col-sm-6' : directive.typesec == 'group'
    , 'col-sm-12': directive.typesec != 'group'
    }"
  >
    <div class="form-group">
      <label for="" class="control-label">Guest's Full Name</label>
      <input type="text" class="form-control"
        ng-model="directive.person.fullname"
      >
    </div>
    <div class="row">
      <div class="col-sm-6"
        ng-class="{
          'col-sm-6' : directive.typesec != 'group',
          'col-sm-12': directive.typesec == 'group'
        }"
      >
        <div class="form-group">
          <label for="" class="control-label">Email</label>
          <input type="text" class="form-control"
            ng-model="directive.person.email"
          >
        </div>
      </div>
      <div class="col-sm-6"
        ng-class="{
          'col-sm-6' : directive.typesec != 'group',
          'col-sm-12': directive.typesec == 'group'
        }"
      >
        <div class="form-group">
          <label for="" class="control-label">Cellphone</label>
          <input type="text" class="form-control"
            ng-model="directive.person.cell"
          >
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6"
        ng-class="{
          'col-sm-6' : directive.typesec != 'group',
          'col-sm-12': directive.typesec == 'group'
        }"
      >
        <div class="form-group">
          <label for="" class="control-label">Country of Origin</label>
          <input type="text" class="form-control"
            ng-model="directive.person.country"
          >
        </div>
      </div>
      <div class="col-sm-6"
        ng-class="{
          'col-sm-6' : directive.typesec != 'group',
          'col-sm-12': directive.typesec == 'group'
        }"
      >
        <div class="form-group">
          <label for="" class="control-label">ID/Passport</label>
          <input type="text" class="form-control"
            ng-model="directive.person.said"
          >
        </div>

        <div class="form-group" ng-show="directive.typesec=='group'">
          <button class="btn btn-danger" type="button"
            ng-click="directive.deletePerson()"
            ng-show="directive.person.editing"
          >
            Delete Guest
          </button>
          <button class="btn btn-primary pull-right" type="button"
            ng-click="directive.addPerson()"
            ng-disabled="!directive.canAddGuest()"
            ng-class="{
              'btn-primary': !directive.person.editing
            , 'btn-success': directive.person.editing
            }"
          >
            <span ng-hide="directive.person.editing">Add Guest</span>
            <span ng-show="directive.person.editing">Update Guest</span>
            <span class="glyphicon glyphicon-chevron-right"></span>
          </button>
        </div>
      </div>
    </div>
  </div>


  <div class="col-sm-6"
    ng-show="directive.typesec=='group'"
  >
    <div class="jumbotron well"
      ng-hide="directive.people.length"
    >
      <h2>Add guests here</h2>
      <p><span class="glyphicon glyphicon-chevron-left"></span>
        Fill in the guest's information and click <i>Add&nbsp;Guest</i>. The list of guests will appear here.
      </p>
      <p>Click on a guest to edit their information.</p>
    </div>
    <h2 ng-show="directive.people.length">List of guests</h2>
    <div class="list-group"
      ng-show="directive.people.length"
    >
      <a href="#" class="list-group-item"
        ng-repeat="person in directive.people"
        ng-click="directive.editPerson($index)"
        ng-class="{'active':directive.person.arrayIndex==$index}"
        ng-disabled="directive.person.editing"
      >
        <p class="list-group-item-heading">{{person.fullname}}</p>
        <p class="list-group-item-text"></p>
      </a>
    </div>
  </div>
</div>
