<div
  ng-if="single.initialized && !single.loading"
>

  <div class="business-header">
    <h1 class="">{{single.business.profile.display}}</h1>
    <div class="row">
      <div class="col-sm-8">
        <p class="lead"
          ng-if="single.business.detail.location"
        >{{single.business.detail.location}}</p>
        <p class=""
          ng-if="single.business.meta.created_at"
        >Member since {{single.business.meta.created_at | date}}</p>
      </div>
      <div class="col-sm-4">
        <span class="pull-right">

          <span class="label label-success"
            ng-if="single.business.status.beta"
          >Beta Tester</span>

          <span class="label label-success"
            ng-if="single.business.status.verified"
          >Verified ✓</span>

          <span class="label label-warning"
            ng-if="single.business.author.status.pending"
          >Author: Pending Approval</span>

          <span class="label label-info"
            ng-if="single.business.author.status.unconfirmed"
          >Author: unconfirmed email</span>

          <span class="label label-info"
            ng-if="single.business.author.status.betaUnconfirmed"
          >Author: unconfirmed beta token</span>

          <span class="label"
            ng-if="single.business.status.pending && !single.business.status.blocked"
            ng-class="{
              'label-default': business.author.status.unconfirmed
            , 'label-warning' : !business.author.status.unconfirmed
            }"
          >Pending Approval</span>

          <span class="label label-danger"
            ng-if="single.business.status.blocked && !single.business.status.pending"
          >Blocked</span>

          <span class="label label-danger"
            ng-if="single.business.status.blocked && single.business.status.pending"
          >Rejected</span>

        </span>
      </div>
    </div>
  </div>

  <ul class="business-nav nav nav-tabs">
    <li ng-class="{'active':single.activeTab=='admin'}"
      ng-if="currentUser.role.admin"
    >
      <a href="#" ng-click="single.activeTab= 'admin'"><em>Admin</em></a>
    </li>
    <!-- <li ng-class="{'active':single.activeTab=='overview'}">
      <a href="#" ng-click="single.activeTab= 'overview'">Overview</a>
    </li>
    <li ng-class="{'active':single.activeTab=='info'}">
      <a href="#" ng-click="single.activeTab= 'info'">Info</a>
    </li> -->
    <!-- <li ng-class="{'active':single.activeTab=='billing'}">
      <a href="#" ng-click="single.activeTab= 'billing'">Billing</a>
    </li>
    <li ng-class="{'active':single.activeTab=='members'}">
      <a href="#" ng-click="single.activeTab= 'members'">Members</a>
    </li>-->
    <li ng-class="{'active':single.activeTab=='reports'}">
      <a href="#" ng-click="single.activeTab= 'reports'">Reports</a>
    </li>
    <!--<li ng-class="{'active':single.activeTab=='queries'}">
      <a href="#" ng-click="single.activeTab= 'queries'"><em>Queries</em></a>
    </li>
    <li ng-class="{'active':single.activeTab=='usage'}">
      <a href="#" ng-click="single.activeTab= 'usage'"><em>Usage</em></a>
    </li> -->
  </ul>

  <div class="row" ng-if="single.activeTab=='overview'">
    <div class="col-sm-4">
      <div ng-include="'system/establishments/single/widgets/billing.html'"></div>
    </div>
    <div class="col-sm-4">
      <div ng-include="'system/establishments/single/widgets/members.html'"></div>
    </div>
    <div class="col-sm-4">
      <div ng-include="'system/establishments/single/widgets/reports.html'"></div>
    </div>
  </div>

  <div class="row" ng-if="single.activeTab=='overview'">
    <div class="col-sm-4">
      <div ng-include="'system/establishments/single/widgets/quota.html'"></div>
    </div>
    <div class="col-sm-4">
      <div ng-include="'system/establishments/single/widgets/status.html'"></div>
    </div>
    <div class="col-sm-4">
      <div ng-include="'system/establishments/single/widgets/info.html'"></div>
    </div>
  </div>

  <div ng-if="single.activeTab=='reports'">
    <business-reports
      biz-id="single.business.id"
    ></business-reports>
  </div>

  <div
    ng-if="single.activeTab=='admin'"
    ng-include="'system/establishments/single/partials/admin.html'"
  ></div>

</div>

<!-- Server Feedback -->
<div class="alert alert-success"
  ng-if="single.loading || !single.initialized"
>
  <div class="progress" style="margin-bottom:0">
    <div class="progress-bar progress-bar-success progress-bar-striped"
      style="width:100%"
      ng-class="{'progress-bar-warning':!single.initialized, 'active':single.initialized}"
    ><span ng-if="single.initialized">Loading Establishment</span><span ng-if="!single.initialized">Authenticating</span></div>
  </div>
</div>
<div class="alert alert-danger"
  ng-if="single.errorMsg.length"
>{{single.errorMsg}} | <a href="/">Go to homepage</a>
</div>
<!--
<pre>{{single.business | json}}</pre> -->
