doctype html
html(lang="en", style="background:#1D5193")
  head
    if expired
      title Token Expired
    else
      title Token Confirmed
    link(rel='stylesheet',href='/main.min.css')
  body(style="background:#1D5193")
    .clearfix.landing-brand.center-block
      img(src="/guestsure-base-logo-web.png", width="350", height="100")
    p.lead.text-center(style="color:#fff")
      if expired
        | The confirmation token has expired. We are sending you a new one.
      else
        | Email confirmed, thank you. We will contact you as soon as your application have been verified.
