<div class="white-form">
  <collapse-section
    heading="'Add/Edit generic name'"
  >
    <form name="addForm">
      <div class="row">
        <div class="col-xs-6">
          <div class="form-group">
            <input type="text" class="form-control"
              ng-model="vm.edit.name"
              placeholder="Name"
            >
          </div>
        </div>
        <div class="col-xs-6">
          <div class="form-group">
            <input type="number" class="form-control"
              ng-model="vm.edit.estimate"
              placeholder="Estimate"
            >
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-6">
          <textarea class="form-control"
            name="" id=""
            cols="30" rows="5"
            ng-model="vm.edit.adminComments"
            placeholder="Comments (admins only)"
          ></textarea>
        </div>
        <div class="col-xs-6">
          <div class="form-group">
            <textarea class="form-control"
              name="" id=""
              cols="30" rows="2"
              ng-model="vm.edit.aliases"
              placeholder="Comma separated list of aliases"
              ng-list
            ></textarea>
          </div>
          <div class="form-group">
            <button class="btn btn-success btn-block"
              type="button"
              ng-click="vm.addGeneric()"
              ng-if="!vm.edit._id"
              ng-disabled="!vm.edit.name || vm.edit.name.length < 4 || vm.adding"
            >Add<span ng-if="vm.adding">ing...</span></button>
            <div class="btn-group pull-right" ng-if="vm.edit._id">
              <button class="btn btn-default" type="button"
                ng-click="vm.edit={}"
              >Cancel</button>
              <button class="btn btn-success"
                ng-click="vm.updateItem()"
                ng-disabled="vm.updatingItem || !vm.edit.name || vm.edit.name.length < 4"
                class="{'active': vm.updatingItem}"
              >Sav<span ng-if="!vm.updatingItem">e</span><span ng-if="vm.updatingItem">ing</span></button>
            </div>
            <button class="btn btn-danger" type="button"
              ng-if="vm.edit._id"
              ng-click="vm.deleteItem()"
              ng-disabled="vm.removingItem"
            ><span class="glyphicon glyphicon-remove"></span><span ng-if="vm.removingItem">Removing...</span></button>
          </div>
        </div>
      </div>

    </form>
  </collapse-section>
</div>

<div class="white-form">
  <div class="row" style="margin-bottom: 0.5rem">
    <div class="col-xs-6">
      <div class="input-group">
        <input type="text" class="form-control"
          ng-model="vm.search"
          placeholder="Quick Filter"
          2ng-disabled="vm.showAll"
        >
        <span class="input-group-btn">
          <button class="btn btn-default"
            ng-click="vm.search = ''"
          >Clear</button>
        </span>
      </div>
    </div>
    <div class="col-xs-6">
      <p class="input-align">{{vm.filtered.length}}/{{vm.generics.length}} items</p>
      <div class="pull-right">
        <button class="btn btn-default"
          ng-click="vm.sortBy=vm.sortByName"
          ng-class="{'active btn-primary':vm.sortBy==vm.sortByName}"
          title="Sort Alphabetically"
        ><span class="glyphicon glyphicon-sort-by-alphabet"></span></button>
        <button class="btn btn-default"
          ng-click="vm.sortBy=vm.sortByEstimate"
          ng-class="{'active btn-primary':vm.sortBy==vm.sortByEstimate}"
          title="Sort by Estimated number of matches"
        ><span class="glyphicon glyphicon-sort-by-attributes-alt"></span></button>
        <button class="btn btn-default"
          ng-class="{'active btn-primary': vm.showAll}"
          ng-click="vm.showAll = !vm.showAll"
        >Show All</button>
      </div>
    </div>
  </div>
  <div class="list-group" style="margin-bottom: 0;">
    <div ng-if="!vm.showAll">
      <a class="list-group-item"
        ng-repeat="generic in vm.filtered = (vm.generics | filter:vm.search | filter:vm.edit.name | orderBy:vm.sortBy)"
        ng-class="{'list-group-item-warning': generic.name==vm.edit.name.toLowerCase()}"
      >
        <span ng-include="'system/genericNames/list/partials/genericName-list-item.html'"></span>
      </a>
    </div>
    <div ng-if="vm.showAll">
      <a class="list-group-item"
        ng-repeat="generic in vm.generics | orderBy:vm.sortBy"
        ng-class="{'list-group-item-success': generic.name==vm.search.toLowerCase()}"
      >
        <span ng-include="'system/genericNames/list/partials/genericName-list-item.html'"></span>
      </a>
    </div>
    <li class="list-group-item disbled"
      ng-if="generics==0"
    >No items to show</li>
  </div>
</div>

