<!-- {{!--

  EMAIL CONFIRM/CANCEL TOKEN FOR PASSWORD CHANGE
  ==============================================

  Required properties:

  * {{applyToken}} -> *Complete* url string for apply button
  * {{cancelToken}} -> *Complete* url string for cancel button

  Recommended properties:

  * {{username}} -> User's display name

--}} -->{{> cardStart}}

<h2 style="color: #35944a; margin: 0 0 12px; line-height: 30px; font-size: 27px;">
  {{!-- If the username is present --}}
  {{#if username}}{{username}}, confirm{{else}}Confirm{{/if}} password change:
</h2>

<p style="font-size: 18px; line-height: 24px;">
  A password change has been requested on your account. To complete the change, please choose an option below:
</p>

<p style="text-align: center; margin: 2rem 0 1rem;">
  <a href="{{applyToken}}" style="display: inline-block; padding: 14px 32px; background: #35944a; border: 1px solid #2D8140; border-radius: 5px; font-weight: normal; letter-spacing: 2px; font-size: 24px; line-height: 26px; color: white; text-shadow: 0 1px 1px black; text-shadow: 0 1px 1px rgba(0,0,0,0.25); text-decoration: none; box-shadow:0 3px 4px -1px black;"><strong>Apply</strong> Password Change</a>
</p>

<p style="font-size: 14px; line-height: 20px; color: #aaa; text-align: center; margin: 0 auto 1rem; max-width: 360px; word-break: break-word;">This will take immediate effect. The link is valid for one hour, or until used, or cancelled below.</p>

<p style="font-size: 18px; line-height: 24px;">
  If this wasn't done by you, or you wish to cancel the password change and keep your old password, click the link below:
</p>

<p style="text-align: center; margin: 2rem 0 1rem;">
  <a href="{{cancelToken}}" style="display: inline-block; padding: 14px 32px; background: #7F282B; border: 1px solid #551C1E; border-radius: 5px; font-weight: normal; letter-spacing: 2px; font-size: 24px; line-height: 26px; color: white; text-shadow: 0 1px 1px black; text-shadow: 0 1px 1px rgba(0,0,0,0.25); text-decoration: none; box-shadow:0 3px 4px -1px black;"><strong>CANCEL</strong> Password Change</a>
</p>

<p style="font-size: 14px; line-height: 20px; color: #aaa; text-align: center; margin: 0 auto 1rem; max-width: 360px; word-break: break-word;">The link is valid for one hour</p>

<p style="font-size: 18px; line-height: 24px;">
  Please <a href="mailto:accounts@guestsure.co.za" style="color: #35944a;">contact us</a> if this wasn't requested by you and we will investigate further.
</p>

<p style="font-size: 18px; line-height: 24px;"><a href="http://guestsure.co.za" style="text-decoration: none; color: #194F95; font-size: 24px;"><strong>GuestSure</strong>.co.za</a><br /><small style="font-size: 15px;">— the hospitality safeguard</small></p>

{{> cardEnd}}
