<!-- {{!--

  WELCOME EMAIL TO BETA USERS (AFTER SETTING PASSWORD)
  ====================================================

  Required properties:

  * {{app_link}} -> *Complete* url string for app (including https)

  Recommended properties:

  * {{user_name}} -> User's display name

--}} -->{{> cardStart}}

<h2 style="color: #35944a; margin: 0 0 12px; line-height: 30px; font-size: 27px;">Hi again, {{user_name}}</h2>

<p style="font-size: 18px; line-height: 24px;">Thanks for joining GuestSure as a beta tester! You have success&shy;fully completed the signup process. From now on, you can access the app directly by going to the link below:</p>

<p style="text-align: center; margin: 2rem 0 1rem;">
  <a href="{{app_link}}" style="display: inline-block; padding: 14px 32px; background: #35944a; border: 1px solid #2D8140; border-radius: 5px; font-weight: normal; letter-spacing: 2px; font-size: 24px; line-height: 26px; color: white; text-shadow: 0 1px 1px black; text-shadow: 0 1px 1px rgba(0,0,0,0.25); text-decoration: none; box-shadow:0 3px 4px -1px black;">Access <strong>GuestSure</strong> on:<br /><small>{{app_link}}</small></a>
</p>

<p style="font-size: 14px; line-height: 20px; color: #aaa; text-align: center; margin: 0 auto 1rem; max-width: 360px; word-break: break-word;">Feel free to bookmark this link</p>

<p style="font-size: 18px; line-height: 24px;"><strong>Where do you go from here?</strong> Please start by checking all your guests against our system from now on, if at all possible. You can also report guests or organizations for unacceptable behavior.</p>

<p style="font-size: 18px; line-height: 24px;"><strong>We value your feedback!</strong> Please let us know what you think about the service and your experience using it &mdash; good or bad! You can email us at <a href="mailto:beta@guestsure.co.za" style="color: #35944a; text-decoration: none;">beta@guestsure.co.za</a>.</p>

<p style="font-size: 18px; line-height: 24px;"><a href="http://guestsure.co.za" style="text-decoration: none; color: #194F95; font-size: 24px;"><strong>GuestSure</strong>.co.za</a><br /><small style="font-size: 15px;">— the hospitality safeguard</small></p>

{{> cardEnd}}
