<!-- {{!--

  INVITATION EMAIL TO BETA USERS (MEMBER OF ESTABLISHMENT)
  ========================================================

  Required properties:

  * {{call_to_action_link}} -> *Complete* url string for call to action button

  Recommended properties:

  * {{user_name}} -> User's display name
  * {{establishment_name}} -> Establishment's name (that user is a member of)

  Links:

  * http://guestsure.co.za (read about, what others are saying)

--}} -->{{> cardStart}}

<h2 style="color: #35944a; margin: 0 0 12px; line-height: 30px; font-size: 27px;">Hello {{user_name}}</h2>

<p style="font-size: 18px; line-height: 24px;">{{#if establishment_name}}{{establishment_name}}{{else}}Your establishment{{/if}} has been invited to join GuestSure as a beta tester. Click below to confirm your email and start today!</p>

<p style="text-align: center; margin: 2rem 0 1rem;">
  <a href="{{call_to_action_link}}" style="display: inline-block; padding: 14px 32px; background: #35944a; border: 1px solid #2D8140; border-radius: 5px; font-weight: normal; letter-spacing: 2px; font-size: 24px; line-height: 26px; color: white; text-shadow: 0 1px 1px black; text-shadow: 0 1px 1px rgba(0,0,0,0.25); text-decoration: none; box-shadow:0 3px 4px -1px black;">Join <strong>GuestSure</strong></a>
</p>

<p style="font-size: 14px; line-height: 20px; color: #aaa; text-align: center; margin: 0 auto 1rem; max-width: 360px; word-break: break-word;">Free during <small>BETA</small>. Set your password on the next screen.</p>

<p style="font-size: 18px; line-height: 24px;"><strong>GuestSure</strong> is a service that allows accom&shy;mo&shy;da&shy;tion provi&shy;ders to verify their guests before they cause damage and/&#8203;or losses; and to warn other estab&shy;lish&shy;ments by report&shy;ing unac&shy;cept&shy;able behavior.</p>

<p style="font-size: 18px; line-height: 24px;"><strong>Would you like to know more?</strong> <a href="http://guestsure.co.za" style="color: #35944a; text-decoration: none;">Read about GuestSure</a>{{!-- and <a href="http://guestsure.co.za" style="color: #35944a; text-decoration: none;">what other users are saying</a> about the service --}}.</p>

<p style="font-size: 18px; line-height: 24px;"><a href="http://guestsure.co.za" style="text-decoration: none; color: #194F95; font-size: 24px;"><strong>GuestSure</strong>.co.za</a><br /><small style="font-size: 15px;">— the hospitality safeguard</small></p>

{{> cardEnd}}
