<!-- {{!--

  EMAIL CONFIRMATION TOKEN FOR SELF-SIGNUP USERS
  ==============================================

  Required properties:

  * {{call_to_action_link}} -> *Complete* url string for call to action button

  Recommended properties:

  * {{user_name}} -> User's display name
  * {{establishment_name}} -> Establishment's name (that user is a member of)

--}} -->{{> cardStart}}

<h2 style="color: #35944a; margin: 0 0 12px; line-height: 30px; font-size: 27px;">Hello {{user_name}}</h2>

<p style="font-size: 18px; line-height: 24px;">We have received the application for {{#if establishment_name}}{{establishment_name}}{{else}}Your establishment{{/if}}. Please click below to confirm your email address!</p>

<p style="text-align: center; margin: 2rem 0 1rem;">
  <a href="{{call_to_action_link}}" style="display: inline-block; padding: 14px 32px; background: #35944a; border: 1px solid #2D8140; border-radius: 5px; font-weight: normal; letter-spacing: 2px; font-size: 24px; line-height: 26px; color: white; text-shadow: 0 1px 1px black; text-shadow: 0 1px 1px rgba(0,0,0,0.25); text-decoration: none; box-shadow:0 3px 4px -1px black;"><strong>Confirm Email</strong><br><small>Click here</small></a>
</p>

<p style="font-size: 14px; line-height: 20px; color: #aaa; text-align: center; margin: 0 auto 1rem; max-width: 360px; word-break: break-word;">GuestSure is free to use during <small>BETA</small>.</p>

<p style="font-size: 18px; line-height: 24px;">We need to verify all accounts. You should receive a response within 48 hours.</p>

<p style="font-size: 18px; line-height: 24px;"><a href="http://guestsure.co.za" style="text-decoration: none; color: #194F95; font-size: 24px;"><strong>GuestSure</strong>.co.za</a><br /><small style="font-size: 15px;">— the hospitality safeguard</small></p>

{{> cardEnd}}
