<!-- {{!--

  DUPLICATE EMAIL SIGNUP ATTEMPT NOTIFICATION
  ===========================================

  Recommended properties:

  * {{username}} -> User's display name

--}} -->{{> cardStart}}

<h2 style="color: #35944a; margin: 0 0 12px; line-height: 30px; font-size: 27px;">
  {{!-- If the username is present --}}
  Hi{{#if username}} {{username}}{{/if}}
</h2>

<p style="font-size: 18px; line-height: 24px;">
  Someone tried to create a new account on GuestSure.co.za using this email, but there is one using it already.
</p>

<p style="font-size: 18px; line-height: 24px;">
  If this was you, please use the password reset feature if you can't remember your original credentials.
</p>

<p style="font-size: 18px; line-height: 24px;"><a href="http://guestsure.co.za" style="text-decoration: none; color: #194F95; font-size: 24px;"><strong>GuestSure</strong>.co.za</a><br /><small style="font-size: 15px;">— the hospitality safeguard</small></p>

{{> cardEnd}}
