Hi {{user.profile.display}}

<a href="{{req.protocol}}://{{req.headers.host}}/token/confirm/{{user.pending.confirm.token}}">Click here to confirm your email address.</a>

<small>Token: {{user.pending.confirm.token}}</small>
