<h1 class="page-header">Establishments

<small class="pull-right"
  ng-pluralize count="vm.businesses.length"
  when="{'0':'None found', '1':'Showing one', 'other': 'Showing {{vm.businesses.length}}'}"
>loading</small></h1>

<div class="progress" ng-if="vm.loading">
  <div class="progress-bar progress-bar-success progress-bar-striped active" style="width:100%">
    Loading Establishments&hellip;
  </div>
</div>

<div class="list-group">
  <a ng-repeat="business in vm.businesses" ng-href="/system/establishments/{{business._id}}" class="list-group-item">
    <p class="list-group-item-heading">
      {{business.profile.display}}
      <span class="pull-right">
        <span class="label label-success text-capitalize">{{business.tier.current}} tier</span>

        <span class="label label-success"
          ng-if="business.status.beta"
        >Beta Tester</span>

        <span class="label label-success"
          ng-if="business.status.verified"
        >Verified ✓</span>

        <span class="label label-warning"
          ng-if="business.author.status.pending"
        >Author: Pending Approval</span>

        <span class="label label-info"
          ng-if="business.author.status.unconfirmed"
        >Author: unconfirmed email</span>

        <span class="label label-info"
          ng-if="business.author.status.betaUnconfirmed"
        >Author: unconfirmed beta token</span>

        <span class="label"
          ng-if="business.status.pending && !business.status.blocked"
          ng-class="{
            'label-default': business.author.status.unconfirmed
          , 'label-warning' : !business.author.status.unconfirmed
          }"
        >Pending Approval</span>

        <span class="label label-danger"
          ng-if="business.status.blocked && !business.status.pending"
        >Blocked</span>

        <span class="label label-danger"
          ng-if="business.status.blocked && business.status.pending"
        >Rejected</span>

      </span>
    </p>
    <p class="list-group-item-text">
      <span class="pull-right text-muted">Since: {{business.meta.created_at | date:"EEE, yyyy-MM-dd 'at' HH:mm"}}</span>
      <span>
      info: {{business.profile.info}}<span ng-if="!business.profile.info" class="text-danger">none</span>
      | web: {{business.profile.url}}<span ng-if="!business.profile.url" class="text-danger">none</span>
      | {{business.members.length}} member<span ng-if="business.members.length > 1">s</span> </span>
    </p>
    <p class="list-group-item-text">
      Author: {{business.author.details.fullname}} &lt;{{business.author.auth.email}}&gt;
    </p>
  </a>
</div>
<!-- <pre>{{vm.businesses | json}}</pre> -->
