<div
  ng-if="!generic.editing == true"
  ng-click="generic.editing = !generic.editing"
>
  <span class="pull-right">
    <span class="label label-default"
      ng-if="generic.adminComments"
    >*</span>
    <span class="label label-info"
      ng-if="generic.aliases"
    >{{generic.aliases.length}} alias<span ng-if="generic.aliases.length>1">es</span></span>
    <span class="label label-primary">{{generic.estimate}} matches</span>
    <span class="label label-warning"
      ng-if="!generic.estimate && generic.estimate!==0"
    >No Estimate</span>
  </span>

  <h4 class="list-group-item-heading">{{generic.name}}</h4>

  <span class="text-muted"
    ng-if="generic.aliases">alias<span ng-if="generic.aliases.length>1">es</span>: <span ng-bind="generic.aliases" ng-model="generic.aliases" ng-list></span>
  </span>
</div>
<form name="item.form"
  ng-if="generic.editing == true"
  ng-controller="GenericInlineEditorController as item"
>
  <div class="form-group">
    <input type="text" class="form-control input-sm"
      ng-model="item.edit.name"
      placeholder="Name"
    >
  </div>
  <div class="form-group">
    <input type="number" class="form-control input-sm"
      ng-model="item.edit.estimate"
      placeholder="Estimate"
    >
  </div>
  <div class="form-group">
    <textarea class="form-control input-sm"
      name="" id=""
      cols="30" rows="1"
      ng-model="item.edit.aliases"
      placeholder="Comma separated list of aliases"
      ng-list
    ></textarea>
  </div>
  <div class="form-group">
    <textarea class="form-control input-sm"
      name="" id=""
      cols="30" rows="2"
      placeholder="Comments (admins only)"
      ng-model="item.edit.adminComments"
    ></textarea>
  </div>
  <div>
    <div class="pull-right">
      <button class="btn btn-success btn-sm" type="button"
        ng-click="vm.updateItemInline(item.edit)"
      >Save</button>
    </div>
    <button class="btn btn-default btn-sm" type="button"
      ng-click="generic.editing = !generic.editing"
    >Close without saving</button>
    <button class="btn btn-default btn-sm" type="button"
      ng-click="item.revert()"
    >Revert</button>
  </div>
</form>
