<form ng-submit="vm.signup()">
  <fieldset>
    <legend>User</legend>
    <div class="form-group">
      <label for="userFullname" class="control-label">Full Name</label>
      <input type="text" class="form-control" id="userFullname"
        placeholder="User's Full Name (optional)"
        ng-model="vm.user.fullname"
      >
    </div>
    <div class="form-group">
      <label for="userDisplay" class="control-label">Display Name</label>
      <input type="text" class="form-control" id="userDisplay"
        placeholder="User's Display name (optional)"
        ng-model="vm.user.display"
      >
    </div>
    <div class="form-group">
      <label for="userEmail" class="control-label">Email</label>
      <input type="email" class="form-control" id="userEmail"
        placeholder="User's Email (required)"
        ng-model="vm.user.email"
        required
      >
    </div>
  </fieldset>

  <fieldset>
    <legend>Business</legend>
    <div class="form-group">
      <label for="bizDisplay" class="control-label">Display Name</label>
      <input type="text" class="form-control" id="bizDisplay"
        placeholder="Business Display Name"
        ng-model="vm.biz.display"
      >
    </div>
  </fieldset>

  <button class="btn btn-success-border"
    ng-disabled="vm.submitting || vm.submitted"
  >Submit</button>
</form>
<div class="alert alert-success"
  ng-if="vm.submitted"
>Submitted</div>
<div class="alert alert-danger"
  ng-if="vm.errorMsg.length"
>{{vm.errorMsg}}</div>
<pre ng-if="vm.returnUser">{{vm.returnUser | json}}</pre>
