<div>
  <h1>Welcome to GuestSure.co.za</h1>
  <p class="lead">Thank you for signing up to be a beta tester.</p>
</div>

<p class="lead alert alert-info"
  ng-if="currentUser.todo.setPassword"
>Before we continue, please complete the signup process below:</p>

<div ng-if="currentUser.todo.setPassword">
  <create-first-password
    task="vm.done"
  ></create-first-password>
</div>

<hr>

<h3>How to use the service:</h3>
<p class="lead">Use the <strong>Verify Booking</strong> page to check your guests as you confirm their bookings. Enter any contact/<abbr title="Personal, not private information.">personal</abbr> information you usually collect from your guests. You don't have to enter their names when verifying, as we do not link incidents to guest names.</p>
<p class="lead">Examples of personal information we can verify against: South African ID number, Passport number, personal email address, and cellphone number.</p>
<p class="lead">Additionally, for corporate bookings, we can verify against: VAT number, Cipro Number, business website, email, and landline numbers.</p>
<p class="lead">You can also <strong>Report a guest</strong> if they have caused any damages/loss or broken any house rules.</p>

<hr>

<a href="/" class="btn"
  ng-class="{'btn-lg btn-success-border':vm.done, 'btn-primary-border': !vm.done}"
>Continue to Home Page</a>
