<h3>Select the type of Report</h3>

<div class="row">
  <div class="col-xs-3"
    ng-repeat="type in directive.reportTypes"
  >
    <a href="#" class="dynamic-button"
      ng-click="directive.pickType(type);directive.closePopups($index);"
      ng-class="{'selected':directive.main==type}"
    >
      <span style="color:white;display:block;font-size:32px;padding:10px"
        ng-class="type.icon"></span>
      <span class="title">{{type.title}}</span>
      <span class="subcat">
        <span ng-hide="directive.main==type">Select type</span>
        <span ng-show="directive.main==type">{{directive.sec.label}}</span>
        <span class="caret"></span>
      </span>
    </a>
    <div class="popover bottom"
      ng-class="{'show':type.active}"
      ng-mouseleave="type.active=false"
    >
      <div class="arrow"></div>
      <h3 class="popover-title">Select Type:</h3>

      <div class="popover-content">
        <ul class="list-group">
          <a class="list-group-item" href="#"
            ng-repeat="cat in type.subcats"
            ng-click="directive.setSec(cat);$parent.type.active=false;type.last=cat"
            ng-class="{'active':directive.typesec==cat.slug}"
          >
          {{cat.label}}
         </a>
        </ul>
      </div>
    </div>
  </div>
</div>
