<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">Reports</h3>
  </div>
  <div class="panel-body">
    3 Approved | 1 Pending | 2 Resolved
  </div>
  <div class="panel-footer">Last filed on 2015/02/01</div>
</div>
