<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">Status</h3>
  </div>
  <div class="panel-body">
    Approved
  </div>
  <div class="panel-footer">Approved on 2014/12/09</div>
</div>
