<div class="white-form">
  <div class="accordion_section"
    ng-show="single.waspending || single.business.status.pending && !single.business.status.blocked"
  >
    <button class="btn btn-sm btn-default accordion_expand" type="button"
      ng-click="showAuthorization = !showAuthorization"
    >
      <span ng-if="!showAuthorization">expand</span>
      <span ng-if="showAuthorization">close</span>
    </button>
    <h4>
      <a ng-click="showAuthorization = !showAuthorization"
        >Authorization</a>
      <span class="label label-danger"
        ng-if="single.business.status.pending && !single.business.status.blocked"
      >Pending</span>
    </h4>
    <p>Change the authorization status of an establishment.</p>
    <establishment-authorization
      ng-if="showAuthorization"
      business="single.business"
      waspending="single.waspending"
    ></establishment-authorization>
  </div>

  <div class="accordion_section">
    <button class="btn btn-sm btn-default accordion_expand" type="button"
      ng-click="showTierSets = !showTierSets"
    >
      <span ng-if="!showTierSets">expand</span>
      <span ng-if="showTierSets">close</span>
    </button>
    <h4><a ng-click="showTierSets = !showTierSets"
    >Feature Tier</a></h4>
    <p>Change the feature/billing tier the establishment is on.</p>
    <business-tier-selector
      business="single.business"
      ng-if="showTierSets"
    ></business-tier-selector>
  </div>

  <div class="accordion_section">
    <button type="button" class="btn btn-sm btn-default accordion_expand"
      ng-click="showEstInvites = !showEstInvites"
    >
      <span ng-if="!showEstInvites">expand</span>
      <span ng-if="showEstInvites">close</span>
    </button>
    <h4><a ng-click="showEstInvites = !showEstInvites"
      >Establishment to establishment invites</a></h4>
    <p>Set whether this establishment can send invitations to other establishments, and how many invites are available.</p>
    <business-establishment-invite-capability
      business="single.business"
      ng-if="showEstInvites"
    ></business-establishment-invite-capability>
  </div>
</div>
<!-- <pre>{{single.business | json}}</pre> -->
