<div class="row">
  <div class="white-form">
    <create-report-type-selector
      typemain="vm.report.debug.typemain"
      typesec="vm.report.debug.typesec"
      people="vm.report.people"
    ></create-report-type-selector>
    <create-report-people-editor
      people="vm.report.people"
      typesec="vm.report.debug.typesec"
      ng-show="vm.report.debug.typesec=='individual' || vm.report.debug.typesec=='group'"
    ></create-report-people-editor>
    <create-report-orgs-editor
      org="vm.report.orgs[0]"
      ng-hide="vm.report.debug.typesec=='individual' || vm.report.debug.typesec=='group'"
    ></create-report-orgs-editor>
    <create-report-incident-edit
      incident="vm.report.incidents[0]"
    ></create-report-incident-edit>

    <h3>Accept terms and submit the incident report</h3>

    <div class="form-group">
      <div class="checkbox">
        <label class="lead">
          <input type="checkbox"
            ng-model="vm.report.debug.terms"
          > I accept the terms and conditions.
        </label>
      </div>
      <div class="checkbox">
        <label class="lead">
          <input type="checkbox"
            ng-model="vm.report.debug.informed"
          > When checking in, the guest was informed that their info may be recorded for future use.
        </label>
      </div>
      <div class="checkbox">
        <label class="lead">
          <input type="checkbox"
            ng-model="vm.report.debug.notified"
          > The guest has been notified that they are being reported to this service.
        </label>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-8">
        <p class="text-danger pull-right input-align"
          ng-if="vm.errorMsg.length"
        >{{vm.errorMsg}}</p>
        <p class="text-success pull-right input-align"
          ng-if="vm.posted"
        >The report has been received and will be processed shortly!</p>
        <div class="progress" ng-show="vm.posting">
          <div class="progress-bar progress-bar-striped active" style="width:100%">
          </div>
        </div>
      </div>
      <div class="col-xs-4">
        <button class="btn btn-gs-success btn-block"
          ng-disabled="!vm.isValidReport()"
          ng-if="!vm.posted"
          ng-click="vm.submitReport()"
        ><strong>Submit Report</strong></button>
        <a href="/" class="input-align"
          ng-if="vm.posted"
        >Back to homepage</a>
      </div>
    </div>
  </div>
</div>

<!-- <div class="row">
  <div class="col-xs-12">
    <pre>{{vm.report | json}}</pre>
  </div>
</div> -->
