<div class="row">
  <div class="omnibox">
    <div class="clearfix landing-brand">
      <img src="/guestsure-base-logo-web.png" alt="GuestSure" width="350" id="landing-logo" height="100">
    </div>
    <form>
      <div class="input-group">
        <input
          type="text"
          class="form-control input-lg"
          id="querybox"
          autofocus
          autocomplete="off"
          placeholder="Enter guest's information..."
          ng-model="vm.search"
        >
        <span class="input-group-btn">
          <button class="btn btn-success btn-lg"
            ng-click="vm.storeSearch()"
            2ng-disabled="!vm.search.length"
          >
            <span class="glyphicon glyphicon-search"></span>
            <span class="hidden-xs">Verify Booking</span>
          </button>
        </span>
      </div>
    </form>
<!--     <hr>
    <p class="text-center">
      <i class="glyphicon glyphicon-info-sign"></i>
      How to&hellip;
      <a href="#"
        ng-click="vm.togglePanel('guests')"
      >Verify Guests <span class="caret"></span></a>
    </p>

    <div class="alert alert-info"
      ng-if="vm.activePanel=='guests'"
    >
      <button class="close"
        ng-click="vm.togglePanel()"
      ><span>&times;</span></button>
      <strong>How to verify guests:</strong>
      <p class="lead">Enter any contact information made available by the guest, seperated by spaces or commas, then click <em>Verify Booking</em>.</p>
      <p>Valid information includes:</p>
      <ul>
        <li>South African ID and/or Passport numbers</li>
        <li>Email Adresses</li>
        <li>Home Telephone</li>
        <li>Personal cell phone number</li>
      </ul>
    </div> -->

  </div>
</div>
