<div class="form-group">
  <label>Full Name</label>
  <input type="text" class="form-control"
    ng-model="dir.details.fullname"
    placeholder="No full name set"
  >
</div>
<button class="btn btn-success" type="button"
  ng-click="dir.save()"
  ng-disabled="dir.details.fullname == dir.original.fullname"
>Save setting</button>
<div class="alert alert-danger"
  ng-if="dir.saveError.length"
>{{dir.saveError}}</div>
