<div class="form-group">
  <label>Display Name</label>
  <input type="text" class="form-control"
    ng-model="dir.profile.display"
    placeholder="No display name set"
  >
</div>
<button class="btn btn-success" type="button"
  ng-click="dir.save()"
  ng-disabled="dir.profile.display == dir.original.display"
>Save setting</button>
<div class="alert alert-danger"
  ng-if="dir.saveError.length"
>{{dir.saveError}}</div>
