<div class="row"
  ng-if="single.initialized && !single.loading"
>
  <div class="col-sm-10 col-sm-push-1">

    <!-- REPORT HEADER -->
    <div class="business-header">
      <div class="row">
        <div class="col-sm-6">
          <h1>Report</h1>
        </div>
        <div class="col-sm-6">
          <div ng-include="'app/reports/single/partials/header-tags.html'"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <p class="lead">
            by
            <a ng-href="/business/{{single.report.business._id}}"
            >{{single.report.business.profile.display}}</a>
            <small>(<a ng-href="/users/{{single.report.author._id}}"
            >{{single.report.author.details.fullname}}</a>)</small>
          </p>
        </div>
        <div class="col-sm-6">
          <p class="lead" style="text-align:right;">
            Filed on {{single.report.created_at | date:"EEEE, MMM dd, yyyy 'at' HH:mm"}}
          </p>
        </div>
      </div>
    </div>

    <!-- HEADER TABS -->
    <ul class="business-nav nav nav-tabs">
      <li ng-class="{'active':single.activeTab=='overview'}">
        <a href="#" ng-click="single.activeTab= 'overview'">Overview</a>
      </li>
      <li ng-class="{'active':single.activeTab=='info'}"
        ng-if="currentUser.role.auditor"
      >
        <a href="#" ng-click="single.activeTab= 'info'"><em>History</em></a>
      </li>
      <li ng-class="{'active':single.activeTab=='admin'}"
        ng-if="currentUser.role.auditor"
      >
        <a href="#" ng-click="single.activeTab= 'admin'"><em>Admin</em></a>
      </li>
    </ul>

    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row"
          ng-if="currentUser.role.auditor"
        >
          <div class="col-sm-2">
            <strong>Status:</strong>
          </div>
          <div class="col-sm-10">
            <span ng-include="'app/reports/single/partials/approved.html'"></span>
            <!-- <button class="btn btn-primary btn-sm" type="button"
              ng-click="single.approve(true);"
            >Approve report</button> -->
          </div>
        </div>
        <div class="row"
          2ng-if="currentUser.role.auditor"
        >
          <div class="col-sm-2">
            <strong>Resolution:</strong>
          </div>
          <div class="col-sm-10">
            <span ng-include="'app/reports/single/partials/resolved.html'"></span>
            <!-- <button class="btn btn-primary btn-sm" type="button"
              ng-click="single.approve(true);"
            >Approve report</button> -->
          </div>
        </div>
      </div>
    </div>


      <!-- INCIDENTS -->
      <fieldset>
        <legend class="business-header">Incident<span ng-if="single.report.incidents.length!=1">s</span>
          <span class="pull-right">
            <button class="btn btn-white-border btn-sm"
              type="button" title="Edit People"
              ng-click="single.editIncidents = true"
              ng-if="!single.editIncidents"
            >
              Edit <span class="glyphicon glyphicon-cog"></span>
            </button>
            <button class="btn btn-white-border btn-sm"
              type="button" title="Done editing people"
              ng-click="single.editIncidents = false"
              ng-if="single.editIncidents"
            >
              Done <span class="glyphicon glyphicon-cog"></span>
            </button>
          </span>
        </legend>
        <div ng-include="'app/reports/single/partials/incidents.html'"></div>
      </fieldset>

    <form class="form-horizontal">
      <!-- PEOPLE -->
      <fieldset>
        <legend class="business-header">
          <span
            ng-bind="single.report.people.length==1?'Person':'People'"
          >People</span>
          <span class="pull-right">
            <button class="btn btn-white-border btn-sm" type="button"
              ng-click="single.addBlankPerson();"
              ng-if="single.editPeople"
            >
              Add Person <i class="glyphicon glyphicon-plus"></i>
            </button>
            <button class="btn btn-white-border btn-sm"
              type="button" title="Edit People"
              ng-click="single.editPeople = true"
              ng-if="!single.editPeople"
            >
              Edit <span class="glyphicon glyphicon-cog"></span>
            </button>
            <button class="btn btn-white-border btn-sm"
              type="button" title="Done editing people"
              ng-click="single.editPeople = false"
              ng-if="single.editPeople"
            >
              Done <span class="glyphicon glyphicon-cog"></span>
            </button>
          </span>
        </legend>
        <div ng-include="'app/reports/single/partials/people.html'"></div>
      </fieldset>

      <!-- ORGANIZATIONS -->
      <fieldset>
        <legend class="business-header">Organizations
          <span class="pull-right">
            <button class="btn btn-white-border btn-sm" type="button"
              ng-click="single.addBlankOrg();"
                ng-if="single.editOrgs"
            >Add Organization <i class="glyphicon glyphicon-plus"></i></button>
            <button class="btn btn-white-border btn-sm"
              type="button" title="Edit Organizations"
              ng-click="single.editOrgs = true"
              ng-if="!single.editOrgs"
            >
              Edit <span class="glyphicon glyphicon-cog"></span>
            </button>
            <button class="btn btn-white-border btn-sm"
              type="button" title="Done editing organizations"
              ng-click="single.editOrgs = false"
              ng-if="single.editOrgs"
            >
              Done <span class="glyphicon glyphicon-cog"></span>
            </button>
          </span>
        </legend>
        <div ng-include="'app/reports/single/partials/orgs.html'"></div>
      </fieldset>

    </form>
  </div>
</div>

<!-- LOADING FEEDBACK -->
<div class="alert alert-success"
  ng-if="single.loading || !single.initialized"
>
  <div class="progress" style="margin-bottom:0">
    <div class="progress-bar progress-bar-success progress-bar-striped"
      style="width:100%"
      ng-class="{'progress-bar-warning':!single.initialized, 'active':single.initialized}"
    ><span ng-if="single.initialized">Fetching Report</span><span ng-if="!single.initialized">Authenticating</span></div>
  </div>
</div>

<!-- <div class="row" ng-hide="!currentUser.role.admin" ng-click="raw=!raw">
  <div class="col-sm-8 col-sm-push-2">
    <legend>
      Debug
      <a href="#" class="pull-right btn btn-link">Click to toggle</a>
    </legend>
    <pre ng-show="raw">{{single.report | json}}</pre>
  </div>
</div>-->
