<div class="alert alert-warning"
  ng-if="vm.user.auth.pwPendingChange"
>
  Please set a password for your account!
</div>
<div class="row">
  <div class="col-sm-6">

    <!-- PROFILE EDITOR -->
    <edit-single-user-profile
      profile="vm.user.profile"
      user-id="vm.user._id"
    ></edit-single-user-profile>
  </div>
  <div class="col-sm-6">

    <!-- PERSONAL DETAILS EDITOR -->
    <edit-single-user-details
      details="vm.user.details"
      user-id="vm.user._id"
    ></edit-single-user-details>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">

    <!-- CREDENTIALS EDITOR -->
    <fieldset>
      <legend class="inverse-header">
        Credentials
        <span class="pull-right">
          <button class="btn btn-white-border btn-sm" type="button"
            ng-if="vm.changePassword"
            ng-click="vm.updatePassword()"
            ng-disabled="!vm.newPassword || vm.newPassword.length < 8"
          >Save</button>
        </span>
      </legend>
      <div class="alert alert-danger" ng-if="vm.updatePWMsg.length">
        <button type="button" class="close" aria-label="Close"
          ng-click="vm.updatePWMsg = undefined"
        ><span aria-hidden="true">&times;</span></button>
        Error: {{vm.updatePWMsg}}
      </div>
      <div class="alert alert-success" ng-if="vm.updatedPW">
        <button type="button" class="close" aria-label="Close"
          ng-click="vm.updatedPW = false"
        ><span aria-hidden="true">&times;</span></button>
        Password Updated | <a href="/">Go to home page</a>
      </div>
      <div class="form-group" ng-hide="vm.changePassword">
        <label>Password</label>
        <p>
          <button class="btn btn-primary-border" type="button"
            ng-click="vm.changePassword = true"
          >Change Password</button>
        </p>
      </div>
      <div class="form-group" ng-if="vm.changePassword">
        <label>Old Password (Optional)</label>
        <input class="form-control" type="password"
          ng-model="vm.oldPassword"
        >
      </div>
      <div class="form-group" ng-if="vm.changePassword">
        <label>New Password</label>
        <input class="form-control" type="password"
          ng-model="vm.newPassword"
        >
      </div>
      <div class="form-group">
        <label>Login Email</label>
        <p>{{vm.user.auth.email}}</p>
      </div>
    </fieldset>
  </div>
  <div class="col-sm-6"></div>
</div>
