<collapse-section
  ng-if="!vm.currentUserAccount"
  heading="'User Role'"
  subhead="'Change the role of the user — adding additional site-wide capabilities.'"
>
  <edit-single-user-role
    role="vm.user.role"
    user-id="vm.user._id"
  ></edit-single-user-role>
</collapse-section>
<collapse-section
  ng-if="vm.currentUserAccount"
  heading="'Time-based One-time Password'"
  subhead="'Setup totp tokens for escalating capabilities for a specific session (e.g. allow viewing event logs)'"
>
  <edit-totp
    user-id="vm.user._id"
  ></edit-totp>
</collapse-section>

<!-- <pre>{{vm.user | json}}</pre> -->

<!-- <div
  ng-if="currentUser.role.admin"
>
  <h3>Beta token invite</h3>
  <div
    ng-if="vm.user.auth.betaToken"
  >
    <p>Beta token is set.</p>
    <p><span ng-hide="vm.user.auth.betaIsValid">Token has been used.</span><span ng-show="vm.user.auth.betaIsValid">Token hasn't been used yet.</span></p>
    <p>Expires: {{vm.user.auth.betaExpires | date:"yyyy-MM-dd 'at' HH:mm"}}</p>
    <p>Window: {{vm.user.auth.betaWindow | date:"yyyy-MM-dd 'at' HH:mm"}}</p>
  </div>
  <div ng-if="!vm.user.auth.betaToken">
    <button type="button" class="btn btn-primary"
      ng-click="vm.sendBetaInvite()"
      ng-disabled="vm.sentBeta"
    >Send Beta Invite</button> <span>{{vm.betaInviteMsg}}</span>
  </div>
  <h3>Manual Signup</h3>
  <div
    ng-if="vm.user.auth.otpToken"
  >
    <h4>OTP Token:</h4>
    <p>Expires: {{vm.user.auth.otpExpires | date:"yyyy-MM-dd 'at' HH:mm"}}</p>
    <textarea class="form-control" rows="1"
    >http://app.guestsure.co.za/token/otp/{{vm.user.auth.otpToken}}</textarea>
  </div>
  <div
    ng-if="!vm.user.auth.otpToken"
  >
    <p>User signed in with OTP token already.</p>
    <p
      ng-if="vm.user.auth.pwPendingChange"
    >Password change is still pending!</p>
    <p
      ng-if="!vm.user.auth.pwPendingChange"
    >
      Password has been set
    </p>
  </div>
</div> -->
