<div class="inverse-header">
  <div class="row">
    <div class="col-sm-6">
      <h1>
        <span>{{vm.user.profile.display}}</span>
        <span
          ng-if="!vm.user.profile.display.length"
        >{{vm.user.details.fullname}}</span>
      </h1>
    </div>
    <div class="col-sm-6">
      <p class="text-right">
        <span class="label label-primary"
          ng-if="vm.user.role.admin"
        >Admin</span>
        <span class="label label-primary"
          ng-if="vm.user.role.verifier"
        >Verifier</span>
        <span class="label label-primary"
          ng-if="vm.user.role.auditor"
        >Auditor</span>
        <span class="label label-danger"
          ng-if="vm.user.auth.unconfirmed"
        >Unconfirmed Email</span>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <p class="lead"
        ng-if="vm.membership"
      >Member of <a ng-href="/system/establishments/{{vm.membership._id}}">{{vm.membership.profile.display}}</a></p>
      <p class="lead"
        ng-if="!vm.membership"
      >Not a member of any establishments</p>
    </div>
    <div class="col-sm-6">
      <p class="lead text-right"
        ng-if="currentUser.role.admin"
      >Created on {{vm.user.meta.created_at | date}}</p>
    </div>
  </div>
</div>

<!-- TABS -->
<!-- <ul class="inverse-nav nav nav-tabs">
  <li ng-class="{'active':vm.activeTab=='account'}">
    <a href="#" ng-click="vm.activeTab= 'account'">Account</a>
  </li>
  <li ng-class="{'active':vm.activeTab=='admin'}"
    ng-if="currentUser.role.admin"
  >
    <a href="#" ng-click="vm.activeTab= 'admin'"><em>Admin</em></a>
  </li>
  <li ng-class="{'active':vm.activeTab=='welcome'}">
    <a href="#" ng-click="vm.activeTab= 'welcome'">Welcome</a>
  </li>
</ul> -->
