<div class="form-group">
  <p>
    <span
      ng-if="!single.report.is.approved && !single.report.approved_on"
    >
      Pending auditor approval.
    </span>
    <span class="text-success"
      ng-if="single.report.approved_on && single.report.is.approved"
    >Report was approved on {{single.report.approved_on | date:"EEE, MMM dd, yyyy 'at' HH:mm"}}.</span>

    <span class="text-danger"
      ng-if="single.report.suspend_on"
    >Report was suspended on {{single.report.suspend_on | date:"EEE, MMM dd, yyyy 'at' HH:mm"}}.</span>
  </p>

  <button class="btn btn-default" type="button"
    ng-class="{'btn-success active':single.report.is.approved}"
    ng-disabled="single.report.is.approved"
    ng-click="single.approve()"
  >Approve<span ng-if="single.report.is.approved">d</span></button>
  <button class="btn btn-default" type="button"
    ng-if="single.report.approved_on"
    ng-class="{'btn-danger active':!single.report.is.approved}"
    ng-disabled="!single.report.is.approved"
    ng-click="single.approve()"
  >Suspend<span ng-if="!single.report.is.approved">ed</span></button>
  <p class="help-block">
    Only reports approved by our auditors will show up in search results.
  </p>
</div>
