<span class="label label-warning"
  ng-if="!single.report.is.approved && !single.report.approved_on"
>Pending</span>
<span class="label label-success"
  ng-if="single.report.is.approved && !single.report.is.resolved"
>Approved</span>
<span class="label label-success"
  ng-if="single.report.is.approved && single.report.is.resolved"
>Resolved</span>
<span class="label label-danger"
  ng-if="!single.report.is.approved && single.report.approved_on"
>Suspended</span>
<span class="label label-danger"
  ng-if="single.report.is.readonly"
>Read only</span>
