<div class="list-group">
  <div class="list-group-item"
    ng-repeat="incident in single.report.incidents"
  >
    <edit-incident
      incident="incident"
      not-editing="!single.editIncidents"
      incident-labels="single.incidents"
      incident-options="single.incidents"
      report-id="single.report._id"
    ></edit-incident>
    </dl>
  </div>
  <div class="alert alert-danger"
    ng-if="single.report._id && !single.report.incidents.length"
  ><strong>Zero Incidents!</strong> Please add at least one incident to this report.</div>
</div>
