<div class="form-group">
  <p ng-if="single.report.is.readonly">
    The report is read-only<span ng-if="single.report.readonly_on"> since {{single.report.readonly_on | date:"EEE, MMM dd, yyyy 'at' HH:mm"}}</span>.
  </p>
  <p ng-if="!single.report.is.readonly">
    The report can still be edited.
  </p>
  <button class="btn btn-default"
    ng-class="{'btn-success active': !single.report.is.readonly}"
    ng-click="single.toggleReadonly()"
    ng-disabled="!single.report.is.readonly"
    ng-bind="single.report.is.readonly?'Unlock':'Editable'"
  ></button>
  <button class="btn btn-default"
    ng-class="{'btn-info active': single.report.is.readonly}"
    ng-click="single.toggleReadonly()"
    ng-disabled="single.report.is.readonly"
    ng-bind="single.report.is.readonly?'Read only':'Make read only'"
  ></button>
  <p class="help-block">The contents of <em>Read only</em> reports can't be edited by the original author, but the status of the report can still be changed.</p>
</div>
