<a href="#"
  ng-if="!single.removing && !single.removed && !single.removeLink"
  ng-click="single.removeLink=true"
>Remove Report</a>

<span ng-if="!single.removing && !single.removed && single.removeLink">Are you sure?</span>

<a href="#"
  ng-if="!single.removing && !single.removed && single.removeLink"
  ng-click="single.remove()"
>Remove Report</a>

<span ng-if="single.removing">Removing...</span>
<span class="text-danger"
  ng-if="single.removeError.length"
>{{single.removeError}}</span>
