<div class="form-group">
  <p>
    <span ng-if="!single.report.is.resolved">
      <span>
        Incident<span ng-if="single.report.incidents.length!=1">s</span> <span ng-if="single.report.incidents.length==1">is</span><span ng-if="single.report.incidents.length!=1">are</span> still unresolved.
      </span>
      <span ng-if="single.report.unresolved_on">
        Reinstated on {{single.report.unresolved_on | date:"EEE, MMM dd, yyyy 'at' HH:mm"}}.
      </span>
    </span>

    <span ng-if="single.report.is.resolved" class="text-success">
      Incident<span ng-if="single.report.incidents.length!=1">s</span> <span ng-if="single.report.incidents.length==1">was</span><span ng-if="single.report.incidents.length!=1">were</span> marked as resolved
      <span ng-if="single.report.resolved_on"
      >on {{single.report.resolved_on | date:"EEE, MMM dd, yyyy 'at' HH:mm"}}.</span>
    </span>
  </p>
  <button class="btn btn-default" type="button"
    ng-class="{'btn-info active':!single.report.is.resolved}"
    ng-disabled="!single.report.is.resolved"
    ng-click="single.resolve()"
  >Unresolve<span ng-if="!single.report.is.resolved">d</span></button>
  <button class="btn btn-default" type="button"
    ng-class="{'btn-success active':single.report.is.resolved}"
    ng-disabled="single.report.is.resolved"
    ng-click="single.resolve()"
  >Resolve<span ng-if="single.report.is.resolved">d</span></button>
  <p class="help-block">
    Resolved incidents will still show up in search results, but will be marked as resolved.
  </p>
</div>

