<div class="white-form report-editor"
  ng-if="single.initialized && !single.loading"
>
  <!-- REPORT HEADER -->
  <div class="business-header">
    <div class="row">
      <div class="col-sm-6">
        <h1>Incident Report</h1>
      </div>
      <div class="col-sm-6">
        <p class="lead">
          by
          <a ng-href="/system/establishments/{{single.report.business._id}}"
          >{{single.report.business.profile.display}}</a>
          <small>(<a ng-href="/system/users/{{single.report.author._id}}"
          >{{single.report.author.details.fullname}}</a>)</small>
        </p>
        <p>
          {{single.report.created_at | date:"MMMM dd, yyyy '|' HH:mm"}}
          <span ng-include="'system/reports/single/partials/header-tags.html'"></span>
        </p>
      </div>
    </div>
  </div>

  <!-- HEADER TABS -->
   <!--<ul class="business-nav nav nav-tabs">
    <li ng-class="{'active':single.activeTab=='overview'}">
      <a href="#" ng-click="single.activeTab= 'overview'">Overview</a>
    </li>
    <li ng-class="{'active':single.activeTab=='info'}"
      ng-if="currentUser.role.auditor"
    >
      <a href="#" ng-click="single.activeTab= 'info'"><em>History</em></a>
    </li>
    <li ng-class="{'active':single.activeTab=='admin'}"
      ng-if="currentUser.role.auditor"
    >
      <a href="#" ng-click="single.activeTab= 'admin'"><em>Admin</em></a>
    </li>
  </ul> -->


  <form class="form-horizontal" style="margin-top:1em;">
    <!-- INCIDENTS -->
    <fieldset>
      <legend>Incident<span ng-if="single.report.incidents.length!=1">s</span>
        <span class="pull-right">
          <button class="btn btn-default btn-sm" type="button"
            style="position:relative;top:-2px;"
            ng-click="single.editIncidents = !single.editIncidents"
            ng-class="{'btn-primary active':single.editIncidents}"
          >Edit <i class="glyphicon glyphicon-cog"></i></button>
        </span>
      </legend>
      <div ng-include="'system/reports/single/partials/incidents.html'"></div>
    </fieldset>

    <!-- PEOPLE -->
    <fieldset>
      <legend>
        <span ng-bind="single.report.people.length==1?'Person':'People'"
        >People</span>
        <span class="pull-right" style="position:relative;top:-2px;">
          <button class="btn btn-success btn-sm" type="button"
            ng-click="single.addBlankPerson();"
            ng-if="single.editPeople"
          >Add Person <i class="glyphicon glyphicon-plus"></i></button>
          <button class="btn btn-default btn-sm" type="button"
            ng-click="single.editPeople = !single.editPeople"
            ng-class="{'btn-primary active':single.editPeople}"
          >Edit <i class="glyphicon glyphicon-cog"></i></button>
        </span>
      </legend>
      <div ng-include="'system/reports/single/partials/people.html'"></div>
    </fieldset>

    <!-- ORGANIZATIONS -->
    <fieldset>
      <legend>Organizations
        <span class="pull-right" style="position:relative;top:-2px;">
          <button class="btn btn-success btn-sm" type="button"
            ng-click="single.addBlankOrg();"
            ng-if="single.editOrgs"
          >Add Organization <i class="glyphicon glyphicon-plus"></i></button>
          <button class="btn btn-default btn-sm" type="button"
            ng-click="single.editOrgs = !single.editOrgs"
            ng-class="{'btn-primary active':single.editOrgs}"
          >Edit <i class="glyphicon glyphicon-cog"></i></button>
        </span>
      </legend>
      <div ng-include="'system/reports/single/partials/orgs.html'"></div>
    </fieldset>

    <fieldset style="margin-bottom:0">
      <legend>Status</legend>
      <div class="panel" style="margin-bottom:0">
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-2">
              <strong>Approval:</strong>
            </div>
            <div class="col-sm-10">
              <span ng-include="'system/reports/single/partials/approved.html'"></span>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-2">
              <strong>Resolution:</strong>
            </div>
            <div class="col-sm-10">
              <span ng-include="'system/reports/single/partials/resolved.html'"></span>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-2">
              <strong>Locking:</strong>
            </div>
            <div class="col-sm-10">
              <span ng-include="'system/reports/single/partials/locking.html'"></span>
            </div>
          </div>
        </div>
      </div>
    </fieldset>

  </form>
</div>

<!-- LOADING FEEDBACK -->
<div class="alert alert-success"
  ng-if="single.loading || !single.initialized"
>
  <div class="progress" style="margin-bottom:0">
    <div class="progress-bar progress-bar-success progress-bar-striped"
      style="width:100%"
      ng-class="{'progress-bar-warning':!single.initialized, 'active':single.initialized}"
    ><span ng-if="single.initialized">Fetching Report</span><span ng-if="!single.initialized">Authenticating</span></div>
  </div>
</div>
