<!DOCTYPE html>
<html ng-app="GsSignupApp">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>GuestSure | Signup</title>
  <link rel="stylesheet" href="/main.min.css">
  <style>
    html, body {
      background: #1D5193;
    }
    body {
      margin-bottom:17em;
    }
  </style>
</head>
<body>
  <div class="clearfix landing-brand">
    <img src="/guestsure-base-logo-web.png" alt="GuestSure" width="350" id="landing-logo" height="100">
  </div>
  <div style="max-width: 780px;margin:0em auto; padding: 0 15px; color:white">
    <p class="lead" style="text-shadow:1px 1px 1px rgba(0, 0, 0, 0.8)">Thank you for deciding to join GuestSure.co.za! Please complete the form below:</p>
  </div>
  <div class="white-form" ng-controller="SignupController as vm">
    <form name="vm.signupForm" ng-submit="vm.submitSignup()" novalidate
      ng-class="{'showInvalid': vm.showInvalidFields}"
    >

      <fieldset>
        <legend>Tell us about you:</legend>

        <div class="row">
          <div class="col-sm-6">
            <div class="form-group has-feedback" ng-class="{ 'has-warning': vm.signupForm.userDisplay.$invalid && vm.signupForm.userDisplay.$touched , 'has-success': vm.signupForm.userDisplay.$touched}">
              <label for="userDisplay" class="control-label"
                >What should we call you?</label>
              <input type="text" class="form-control input-lg"
                id="userDisplay" name="userDisplay"
                ng-model="vm.user.display"
                placeholder="First/chosen name"
                autofocus
                required
                pre-init-input
                ng-model-options="{ updateOn: 'default blur', debounce: { default: 1000, blur: 0 } }"
              >
              <span class="glyphicon form-control-feedback" aria-hidden="true"
                ng-class="{'glyphicon-warning-sign': vm.signupForm.userDisplay.$invalid, 'glyphicon-ok': !vm.signupForm.userDisplay.$invalid}"></span>
              <p class="help-block warning-text">&bull; Please fill out this field</p>
              <p class="help-block">
                <span ng-if="vm.user.display" ng-bind="'Hi '+vm.user.display"></span>
              </p>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group has-feedback" ng-class="{ 'has-warning': vm.signupForm.userFullname.$invalid && vm.signupForm.userFullname.$touched , 'has-success': vm.signupForm.userFullname.$touched}">
              <label for="userFullname" class="control-label"
                >What&apos;s your full name?</label>
              <input type="text" class="form-control input-lg"
                id="userFullname"
                name="userFullname"
                ng-model="vm.user.fullname"
                placeholder="First name and surname"
                required
                pre-init-input
              >
              <span class="glyphicon form-control-feedback" aria-hidden="true"
                ng-class="{'glyphicon-warning-sign': vm.signupForm.userFullname.$invalid, 'glyphicon-ok': !vm.signupForm.userFullname.$invalid}"></span>
              <p class="help-block warning-text">&bull; Please fill out this field</p>
            </div>
          </div>
        </div>
      </fieldset>

      <fieldset>
        <legend>Tell us about your establishment:</legend>

        <div class="row">
          <div class="col-sm-6">
            <div class="form-group has-feedback" ng-class="{ 'has-warning': vm.signupForm.establishmentName.$invalid && vm.signupForm.establishmentName.$touched , 'has-success': vm.signupForm.establishmentName.$touched}">
              <label for="establishmentName" class="control-label"
                >What is your establishment called?</label>
              <input type="text" class="form-control input-lg"
                id="establishmentName" name="establishmentName"
                ng-model="vm.establishment.profile.display"
                placeholder="Establishment Name"
                required
                pre-init-input
              >
              <span class="glyphicon form-control-feedback" aria-hidden="true"
                ng-class="{'glyphicon-warning-sign': vm.signupForm.establishmentName.$invalid, 'glyphicon-ok': !vm.signupForm.establishmentName.$invalid}"></span>
              <p class="help-block warning-text">&bull; Please fill out this field</p>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="userPosition" class="control-label"
                >What is your role in the establishment?</label>
              <input type="text" class="form-control input-lg"
                id="userPosition"
                ng-model="vm.establishment.authorPosition"
                placeholder="Your role (optional)"
                pre-init-input
              >
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="establishmentUrl" class="control-label"
                >Do you have a website?</label>
              <input type="text" class="form-control input-lg"
                placeholder="Website URL (optional)"
                id="establishmentUrl"
                ng-model="vm.establishment.profile.url"
                pre-init-input
              >
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group has-feedback"
              ng-class="{
                'has-warning':
                  vm.signupForm.establishmentEmail.$error.required
                  && vm.signupForm.establishmentEmail.$touched
              , 'has-error':
                  vm.signupForm.establishmentEmail.$error.email
                  && vm.signupForm.establishmentEmail.$touched
              , 'has-success':
                  !vm.signupForm.establishmentEmail.$error.email
                  && vm.signupForm.establishmentEmail.$touched
                  && vm.establishment.profile.info
              }"
            >
              <label for="establishmentEmail" class="control-label"
                >What is your establishment's primary email?</label>
              <input type="email" class="form-control input-lg"
                id="establishmentEmail" name="establishmentEmail"
                placeholder="Establishment Email (optional)"
                ng-model="vm.establishment.profile.info"
                pre-init-input
                ng-model-options="{ updateOn: 'default blur', debounce: { default: 300, blur: 0 } }"
              >
              <span class="glyphicon form-control-feedback" aria-hidden="true"
                ng-class="{
                  'glyphicon-warning-sign':
                    vm.signupForm.establishmentEmail.$error.required
                , 'glyphicon-ok':
                    !vm.signupForm.establishmentEmail.$error.email
                    && vm.signupForm.establishmentEmail.$touched
                    && vm.establishment.profile.info
                , 'glyphicon-remove':
                    vm.signupForm.establishmentEmail.$error.email
                    && vm.signupForm.establishmentEmail.$touched
              }"></span>
              <p class="help-block error-text"
                ng-if="vm.signupForm.establishmentEmail.$error.email
                       && vm.signupForm.establishmentEmail.$touched"
              >&bull; Invalid Email</p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <div class="form-group has-feedback" ng-class="{ 'has-warning': vm.signupForm.establishmentSize.$invalid && vm.signupForm.establishmentSize.$touched , 'has-success': vm.signupForm.establishmentSize.$touched && !vm.signupForm.establishmentSize.$invalid}">
              <label for="establishmentSize" class="control-label"
                >How many guests can you accommodate?</label>
              <input type="number" class="form-control input-lg"
                min="0"
                required
                id="establishmentSize" name="establishmentSize"
                ng-model="vm.establishment.detail.capacity"
                placeholder="Guest capacity (in number of beds)"
                pre-init-input
              >
              <span class="glyphicon form-control-feedback" aria-hidden="true"
                ng-class="{'glyphicon-warning-sign': vm.signupForm.establishmentSize.$invalid, 'glyphicon-ok': !vm.signupForm.establishmentSize.$invalid}"></span>
              <p class="help-block error-text"
                ng-if="vm.signupForm.establishmentSize.$error.number"
              >&bull; Please enter a number only</p>
              <p class="help-block error-text"
                ng-if="vm.showInvalidFields || vm.signupForm.establishmentSize.$error.required && vm.signupForm.establishmentSize.$touched"
              >&bull; Please fill out this field</p>
              <p class="help-block error-text"
                ng-if="vm.signupForm.establishmentSize.$error.min"
              >&bull; Invalid Number</p>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group has-feedback" ng-class="{ 'has-warning': vm.signupForm.establishmentLocation.$invalid && vm.signupForm.establishmentLocation.$touched , 'has-success': vm.signupForm.establishmentLocation.$touched && !vm.signupForm.establishmentLocation.$invalid}">
              <label for="establishmentLocation" class="control-label"
                >Where is it located?</label>
              <input type="text" class="form-control input-lg"
                id="establishmentLocation" name="establishmentLocation"
                ng-model="vm.establishment.detail.location"
                placeholder="Suburb &amp; City/Town, Province"
                required
                pre-init-input
              >
              <span class="glyphicon form-control-feedback" aria-hidden="true"
                ng-class="{'glyphicon-warning-sign': vm.signupForm.establishmentLocation.$invalid, 'glyphicon-ok': !vm.signupForm.establishmentLocation.$invalid}"></span>
              <p class="help-block warning-text">&bull; Please fill out this field</p>
            </div>
          </div>
        </div>

      </fieldset>

      <fieldset>
        <legend>Your Login Credentials:</legend>

        <div class="row">
          <div class="col-sm-6">
            <div class="form-group has-feedback"
              ng-class="{'has-warning':vm.signupForm.email.$error.required && vm.signupForm.email.$touched, 'has-error': vm.signupForm.email.$error.email && vm.signupForm.email.$touched, 'has-success': !vm.signupForm.email.$error.email && vm.signupForm.email.$touched}"
            >
              <label for="email" class="control-label"
                >Login Email</label>
              <input type="email" class="form-control input-lg"
                id="email" name="email"
                ng-model="vm.user.email"
                required
                placeholder="Your personal email"
                pre-init-input
                ng-model-options="{ updateOn: 'default blur', debounce: { default: 300, blur: 0 } }"
              >
              <span class="glyphicon form-control-feedback" aria-hidden="true"
                ng-class="{
                  'glyphicon-warning-sign':
                    vm.signupForm.email.$error.required
                , 'glyphicon-ok':
                    !vm.signupForm.email.$error.email
                    && vm.user.email
                , 'glyphicon-remove':
                    vm.signupForm.email.$error.email
                    && vm.signupForm.email.$touched
              }"></span>
              <p class="help-block warning-text"
                ng-if="vm.showInvalidFields || vm.signupForm.email.$error.required && vm.signupForm.email.$touched"
              >&bull; Please fill out this field</p>
              <p class="help-block error-text"
                ng-if="vm.signupForm.email.$error.email && vm.signupForm.email.$touched"
              >&bull; Invalid Email</p>
              <p class="help-block">If possible, use a mailbox only you have access to, i.e. your personal email address.</p>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group has-feedback"
              ng-class="{
                'has-warning':
                  vm.signupForm.password.$error.required
                  && vm.signupForm.password.$touched
              , 'has-success':
                  vm.signupForm.password.$valid
              , 'has-error':
                  !vm.signupForm.password.$valid
                  && !vm.signupForm.password.$error.required
                  && vm.signupForm.password.$touched
              }"
            >
              <label for="password" class="control-label"
                >Password</label>
              <input type="password" class="form-control input-lg"
                id="password" name="password"
                ng-model="vm.user.password"
                minlength="8"
                required
                placeholder=""
                pre-init-input
                ng-model-options="{ updateOn: 'default blur', debounce: { default: 300, blur: 0 } }"
              >
              <span class="glyphicon form-control-feedback" aria-hidden="true"
                ng-class="{
                  'glyphicon-warning-sign':
                    vm.signupForm.password.$error.required
                    && vm.signupForm.password.$touched
                , 'glyphicon-ok':
                    vm.signupForm.password.$valid
                , 'glyphicon-remove':
                    !vm.signupForm.password.$valid
                    && !vm.signupForm.password.$error.required
                    && vm.signupForm.password.$touched
              }"></span>
              <p class="help-block error-text"
                ng-if="vm.signupForm.password.$error.minlength"
              >&bull; Password should be at least 8 chars</p>
              <p class="help-block error-text warning-text"
                ng-if="vm.showInvalidFields || vm.signupForm.password.$error.required && vm.signupForm.password.$touched"
              >&bull; Please fill out this field</p>
              <p class="help-block"
                >Please pick a strong password/passphrase.</p>
            </div>
          </div>
        </div>



      </fieldset>

      <div ng-include="'submit.tpl.html'">
        <div class="progress">
          <div class="progress-bar progress-bar-success progress-bar-striped active" style="width:100%">
            Loading Angular&hellip;
          </div>
        </div>
      </div>

      <!-- <pre>{{vm.signupForm | json}}</pre> -->
    </form>
  </div>
  <script type="text/ng-template" id="submit.tpl.html">
    <div class="center-block" style="text-align:center;">
      <!-- <a href="" class="help-block"
        ng-click="vm.showInvalidFields = true"
        ng-if="vm.signupForm.$invalid && !vm.showInvalidFields"
      >Show invalid fields</a> -->
      <p class="text-danger"
        ng-if="vm.showInvalidFields && vm.signupForm.$invalid"
      >There are still some invalid fields!</p>
      <button class="btn-gs-success btn-lg"
        ng-class="{'disabled':!vm.signupForm.$valid || vm.submitting || vm.submitted}"
        ng-disabled="!vm.signupForm.$valid || vm.submitting || vm.submitted"
      >Submit <strong>GuestSure.co.za</strong> application</button>
      <div class="progress center-block"
        style="max-width: 367px;margin: 10px auto;"
        ng-if="vm.submitting && !vm.submitted"
      >
        <div class="progress-bar progress-bar-success progress-bar-striped active" style="width:100%">
          Submitting&hellip;
        </div>
      </div>
      <p class="text-success"
        ng-if="vm.submitted"
      >Application Submitted <span class="glyphicon glyphicon-ok"></span></p>
      <p class="help-block">Account verification may take up to 48 hours</p>
    </div>
  </script>
<script src="/angular.min.js"></script>
<script src="/signup/signup.js"></script>
</body>
</html>
