<div class="alert alert-danger"
  ng-if="dir.saveError.length"
>{{dir.saveError}}</div>

<div class="row form-group">
  <label class="col-sm-2">Admin:</label>
  <div class="col-sm-10">
    <p style="margin-bottom:12px;">Allow user to make <strong>site-wide</strong> changes to the app.</p>
    <div class="row">
      <div class="col-sm-6">
        <button class="btn btn-default btn-block btn-lg" type="button"
          ng-click="dir.role.admin = false"
          ng-disabled="!dir.role.admin"
          ng-class="{'btn-success active':!dir.role.admin}"
        >
          <span ng-if="dir.role.admin">Remove Admin Role</span>
          <span ng-if="!dir.role.admin">Not an Admin</span>
        </button>
      </div>
      <div class="col-sm-6">
        <button class="btn btn-default btn-block btn-lg" type="button"
          ng-click="dir.role.admin = true"
          ng-disabled="dir.role.admin"
          ng-class="{'btn-danger active':dir.role.admin}"
        >
          <span ng-if="dir.role.admin">Site <strong>Admin</strong></span>
          <span ng-if="!dir.role.admin">Make Admin</span>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="row form-group">
  <label class="col-sm-2">Auditor:</label>
  <div class="col-sm-10">
    <p style="margin-bottom:12px;">Allow user to review and approve <strong>reports</strong> filed on the site.</p>
    <div class="row">
      <div class="col-sm-6">
        <button class="btn btn-default btn-block btn-lg" type="button"
          ng-click="dir.role.auditor = false"
          ng-disabled="!dir.role.auditor"
          ng-class="{'btn-success active':!dir.role.auditor}"
        >
          <span ng-if="dir.role.auditor">Remove Auditor Role</span>
          <span ng-if="!dir.role.auditor">Not an Auditor</span>
        </button>
      </div>
      <div class="col-sm-6">
        <button class="btn btn-default btn-block btn-lg" type="button"
          ng-click="dir.role.auditor = true"
          ng-disabled="dir.role.auditor"
          ng-class="{'btn-danger active':dir.role.auditor}"
        >
          <span ng-if="dir.role.auditor">Site <strong>Auditor</strong></span>
          <span ng-if="!dir.role.auditor">Make Auditor</span>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="row form-group">
  <label class="col-sm-2">Verifier:</label>
  <div class="col-sm-10">
    <p style="margin-bottom:12px;">Allow user to review and approve new <strong>users/establishment</strong> applications.</p>
    <div class="row">
      <div class="col-sm-6">
        <button class="btn btn-default btn-block btn-lg" type="button"
          ng-click="dir.role.verifier = false"
          ng-disabled="!dir.role.verifier"
          ng-class="{'btn-success active':!dir.role.verifier}"
        >
          <span ng-if="dir.role.verifier">Remove Verifier Role</span>
          <span ng-if="!dir.role.verifier">Not an Verifier</span>
        </button>
      </div>
      <div class="col-sm-6">
        <button class="btn btn-default btn-block btn-lg" type="button"
          ng-click="dir.role.verifier = true"
          ng-disabled="dir.role.verifier"
          ng-class="{'btn-danger active':dir.role.verifier}"
        >
          <span ng-if="dir.role.verifier">Site <strong>Verifier</strong></span>
          <span ng-if="!dir.role.verifier">Make Verifier</span>
        </button>
      </div>
    </div>
  </div>
</div>

<button class="btn btn-success" type="button"
  ng-click="dir.save()"
  ng-disabled="dir.saving"
>Save settings</button>
<span class="text-success"
  ng-if="dir.saved"
>Saved</span>
