<fieldset>
  <legend class="inverse-header">
    Personal
    <span class="pull-right">
      <button class="btn btn-white-border btn-sm" type="button"
        ng-click="dir.save()"
        ng-disabled="dir.details.fullname == dir.original.fullname"
      >Save</button>
    </span>
  </legend>
  <div class="alert alert-danger"
    ng-if="dir.saveError.length"
  >{{dir.saveError}}</div>
  <div class="form-group">
    <label>Full Name</label>
    <input type="text" class="form-control"
      ng-model="dir.details.fullname"
      placeholder="No full name set"
    >
  </div>
</fieldset>
