<button class="btn btn-primary"
  ng-disabled="dir.key.qr || dir.codeAccepted"
  ng-click="dir.requestQR()"
  ng-if="!dir.key.qr || dir.codeAccepted"
  style="width: 265px; height: 265px;"
>Request new TOTP</button>

<img ng-if="dir.key.qr" ng-src="{{dir.key.qr}}">
<!-- <p ng-if="dir.key.string">{{dir.key.string}}</p> -->

<input type="text" class="form-control"
  ng-if="dir.key.qr || dir.codeAccepted"
  ng-model="dir.totpCheck"
  ng-disabled="dir.codeAccepted"
  placeholder="Confirm TOTP token"
>

<button class="btn btn-success"
  ng-if="dir.key.qr || dir.codeAccepted"
  ng-click="dir.testCode()"
  ng-disabled="!dir.totpCheck || dir.totpCheck.length < 6 || dir.totpCheck.length > 6 || dir.codeAccepted"
>Test code</button>
<span class="text-success" ng-if="dir.codeAccepted">Code accepted!</span>
<span class="text-danger" ng-if="dir.codeErrMsg">{{dir.codeErrMsg}}</span>

<!-- <pre>{{dir.key | json}}</pre> -->
