<fieldset>
  <legend class="inverse-header">
    Profile
    <span class="pull-right">
      <button class="btn btn-white-border btn-sm" type="button"
        ng-click="dir.save()"
        ng-disabled="dir.profile.display == dir.original.display"
      >Save</button>
    </span>
  </legend>
  <div class="alert alert-danger"
    ng-if="dir.saveError.length"
  >{{dir.saveError}}</div>
  <div class="form-group">
    <label>Display Name</label>
    <input type="text" class="form-control"
      ng-model="dir.profile.display"
      placeholder="No display name set"
    >
  </div>
</fieldset>
